[2019-11-21 19:11] jackmaris opened #3 "onSuccess Payload Type Discrepancy"
On iOS it's a JSON object, while on Android it's a string that you have to call JSON.parse on

[2019-11-21 20:38] dustinhorton opened #4 "'LinkKit/LinkKit.h' file not found (RNLinksdk.m)"
After installing, I can no longer build due to:

[code]

I see this specific error pointed out in the [iOS SDK docs](https://plaid.com/docs/link/ios/#manual), but I'm not 100% it's applicable here, or what I might need to update the 'Framework Search Paths' to. I've tried basically every incantation of `PROJECT_DIR` and `PODS_ROOT` to no avail.

I think the file it's looking for exists at `ios/Pod

[2019-11-21 20:59] wkiefer commented on #4
Have you added `pod 'Plaid'`to your `ios/Podfile`?

[2019-11-21 21:06] dustinhorton commented on #4
@wkiefer Yes, and Podfile looks like this:

[code]

[2019-11-21 21:38] wkiefer commented on #4
`ios/Pods/Plaid/LinkKit.framework/Headers/LinkKit.h` is the correct header for the Plaid Link iOS SDK.

I'm not a Cocoapods expert, but your podfile seems to be missing a few lines from what I've seen in typical RN .60+ setups.

at the top
`require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'`
and just before your `target` `end` you can add `use_native_modules

[2019-11-21 21:53] dustinhorton commented on #4
Really appreciate you taking a look.

I'm actually on React Native `0.59.8`.

`pod install` ran successfully and I see references to Plaid in the workspace, but not 100% sure how to confirm it's 'successfully' inside the workspace.

[2019-11-21 22:35] wkiefer commented on #4
if you open up the `.xcworkspace` file in your `ios` directory, you should see something like this within your Pods project:

![example](https://user-images.githubusercontent.com/103811/69382489-0bab5300-0c6c-11ea-9347-6aed9bf282e8.png)

If it's not there, than something is going wrong with the pods setup/install process.

[2019-11-21 22:57] dustinhorton commented on #4
Yes, that's what mine looks.

[2019-11-21 23:46] wkiefer commented on #4
Hmm, i'm not sure. Cocoapods should have created a `Pods-<Target>.debug.xcconfig` file with the proper framework search paths: e.g.
 `FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Plaid"`

It's possible your project is overriding that configuration — so check your framework search paths in Build Settings. thanks!

[2019-11-25 19:11] julioxavierr opened #6 "Export SDK Native Module"
Providing the native module in export will make it easier to use the SDK with custom components, such as a custom button or opening with different behavior.

Export both `PlaidAndroid` and `RNLinksdk` on the index file.

https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.js#L8
https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.js#L28

[2019-11-25 19:12] julioxavierr commented on #6
Example usage on app (just for iOS now)

[code]

[2019-11-27 05:04] sen2ran opened #8 "react-native-plaid-link-sdk Error (Android)"
After installing and config  to android , The app is not getting started

`

Could not determine the dependencies of task ':react-native-plaid-link-sdk:compileDebugAidl'.

     Required by:
         project :react-native-plaid-link-sdk

`

[2019-12-02 07:02] sandeepg1220 commented on #8
I'm also facing same issue while running in android. Please help me to resolve.
Thanks in advance.

[2019-12-02 17:28] JeffKGabriel commented on #8
i believe it is caused by the specific version dependency `implementation 'com.facebook.react:react-native:0.61.3'` in the build.gradle

looking into some work arounds - most libs use - `implementation 'com.facebook.react:react-native:+'` but that causes some other issues for me currently

[2019-12-02 19:55] zachrnolan commented on #8
Also getting this error when running on 0.61.4.

[2019-12-02 20:09] zsweigart commented on #8
Thanks for the report, we will be moving to `implementation 'com.facebook.react:react-native:+'` in the next release which will also upgrade to the next release of the Android native sdk.

@JeffKGabriel what issue are you running into with that implementation version?

[2019-12-02 21:32] zachrnolan commented on #8
@zsweigart After changing to `implementation 'com.facebook.react:react-native:+'`, I received an error due to my `minSdkVersion` being lower than what was set in react-native-plaid-link-sdk. I fixed this by raising my own projects `minSdkVersion` to 21.

When looking at other open source projects like `react-native-onesignal`, they will try to use the rootProject minSdkVersion or fall back to a de

[2019-12-02 23:28] zachrnolan commented on #3
This is a little annoying, but definitely a workaround to use JSON.parse on Android.

I've also noticed that the payload for the event listener uses different keys for the event name. iOS uses `event` while Android uses `event_name`. Little things like this force us to sprinkle in Platform checks.

[2019-12-03 01:38] zsweigart commented on #8
This sdk is a wrapper around the native android sdk which has a `minSdkVersion` of 21.  We decided on this version as it supports 89.3% of users worldwide; however, in our primary markets (U.S., Canada, and several countries in Europe) it's closer to 97%.  Additionally, the Android developer experience is drastically better between `minSdkVersion` of 21 vs 19.  We will update the documentation tha

[2019-12-03 01:47] zachrnolan commented on #8
I agree that minSdkVersion 21 is the way to go. Thanks for the update!

[2019-12-03 05:32] sen2ran commented on #8
still i didn't get any solution

[2019-12-03 10:04] dustinhorton commented on #4
Didn't resolve with my setup as-is, but got React Native upgraded and it seems to work as expected.

[2019-12-03 10:04] #4 closed

[2019-12-03 16:56] 7patricia opened #9 "Export `openLink` method"
It would be nice if we could use the `openLink` method directly, instead of having to show the user a screen with a button to click on in order to actually open the link.

[2019-12-04 18:21] suriarte-orangeloops opened #11 ""Balance" product seems to be unsupported"
As seen [here](https://github.com/plaid/react-native-plaid-link-sdk/blob/58874b05a9ffbb0cf33a035e8ebda685f32cbb7c/PlaidLink.js#L93), the "Balance" product seems to be unsupported. When `onSuccess` method is called with a `data` object, balances are missing from accounts returned.

[2019-12-06 02:56] dustinhorton commented on #9
@7patricia A PR exporting this was merged today: https://github.com/plaid/react-native-plaid-link-sdk/pull/7

[2019-12-06 19:02] wkiefer commented on #9
Yes! Updated npm version coming early next week, thanks!

[2019-12-06 19:02] #9 closed

[2019-12-07 00:15] wkiefer commented on #3
Thanks for the report — we'll have a fix for this going out on Monday.

[2019-12-07 00:17] wkiefer commented on #6
Thanks for the suggestion and report.

https://github.com/plaid/react-native-plaid-link-sdk/pull/7 exposes the raw `openLink` call as well as adds support for using any custom component (rather than just `Button`).

[2019-12-07 00:17] #6 closed

[2019-12-07 18:43] zsweigart commented on #3
Thanks for the feedback! We are going to update `event_name` to `event` and change the return type to a JSONObject in the next release

[2019-12-09 17:34] osikes opened #12 "Please add support for selectAccount prop."
It would be very useful to support selectAccount : true/false just like the web version. It does not appear that this is supported for this repo.

[2019-12-09 17:36] osikes commented on #12
Actually it does work.... sorry 🤣

[2019-12-09 17:36] #12 closed

[2019-12-10 19:54] chrisfisher opened #14 "Pod install error"
After following the readme instructions, I get the following error when running `pod install`:

[code]

My versions:
[code]

[2019-12-11 16:52] JeffKGabriel commented on #14
I include both imports in my podfile to ensure plaid dependency is installed
[code]

[2019-12-13 03:21] chrisfisher commented on #14
@JeffKGabriel I still get the same error as above even if I include both imports.

[2019-12-13 16:42] JeffKGabriel commented on #14
if you are still getting the podfile.lock error as `1.1.23`, have you tried deleting your podfile.lock and and updating your pod versions with `pod install --repo-update`

I am assuming here still the error is still being caused by having version `1.1.23`

[2019-12-13 23:50] afh commented on #14
@JeffKGabriel Any chance you could use the current version of cocoapods, i.e. 1.8.4 and retry?
I was able to successfully follow the instructions in the README using cocapods 1.8.4 and react-native 0.61.5.

[2019-12-14 21:39] alexlod opened #16 "PlaidLink component not displaying"
I've followed the documentation and have an iOS simulator running with Expo. The `PlaidLink` component is not displaying despite other components on the same screen being displayed.

I see no errors or warnings. Using `react-devtools`, I see the `PlaidLink` component in the hierarchy along with its various child components, eg `TouchableOpacity`.

I'm using version `2.0.0`.

Any ideas why nothing

[2019-12-15 01:38] alexlod commented on #16
Some progress:

With version `1.0.2`, the initial button is displayed. However, upon clicking it, I get the following error:

[code]

[2019-12-15 02:16] alexlod commented on #16
I submitted a PR to address the errors in `README.md`. However, the PR doesn't fix all my issues. Now, when I click the button, nothing happens. Looking at `PlaidLink.js`, `openLink` should be getting called... I don't know enough about iOS to debug this thoroughly but I'm doing my best.

[2019-12-16 02:05] chrisfisher commented on #14
@JeffKGabriel `pod install --repo-update` did the trick, thanks. Closing this issue.

[2019-12-16 02:05] #14 closed

[2019-12-16 03:09] mkarazin opened #18 "Callback arguments for onSuccess, onExit, onEvent"
I am attempting to migrate from the prior react-native library to this one. Currently using 2.0.0.

Using the newly exposed `openLink` method, I've noticed the `onSuccess` and `onExit` callbacks don't conform to the documentation and the `onEvent` event is never called. I haven't tried launching plaid link via any other method.

[code]

When looking at the debugger, I get for `onExit`:
<img width=

[2019-12-16 05:57] kanji-keraliya commented on #16
Does anyone find solution. Nothing showing for me. I tried to add component as button but onPress nothing happen.

[2019-12-16 15:54] alexlod commented on #16
@kanji-keraliya after experimenting a lot and trying older versions also with no success, I started using https://github.com/catalinmiron/react-native-plaid-link instead.

[2019-12-16 17:09] wkiefer commented on #18
Thanks for the report.

This is the first official Plaid react-native SDK — which prior react-native library were you using? There were a few unofficial ones that we're hoping to have migrate to this officially supported library.

Instructions to get the `onEvent` callback are in the README:
https://github.com/plaid/react-native-plaid-link-sdk#to-receive-onevent-callbacks

[2019-12-16 17:17] wkiefer commented on #16
I'm sorry you're having trouble @alexlod and @kanji-keraliya — what version of react-native are you using?

Is there any log output from when you tap the open button?

[2019-12-16 17:35] mkarazin commented on #18
We were using https://github.com/plaid/plaid-link-examples/tree/master/react-native - which appears to have also been using the iOS SDK as this implementation is.

Besides the linking of the libraries being slightly different (yay for auto-linking!), our main code hardly changed.

Going from:
[code]

To:
[code]

Besides needing to change the `key` prop to `publicKey`, it was a straight drop in rep

[2019-12-16 17:38] wkiefer commented on #16
Oh, and I realized that the docs don't have a child `Text` element for the default `TouchableOpacity` component. I'll comment in your PR to fix that, but it is likely why you didn't see anything earlier.

[2019-12-16 17:46] wkiefer commented on #18
Ahh great, makes sense. Thanks for the thorough reply.

I believe the proptype documentation is incorrect and we'll get that fixed up. thank you!

[2019-12-16 17:48] zsweigart commented on #8
You will either have to point to 'com.facebook.react:react-native:0.61.3' in your build.gradle file and  set the dependency version for React Native to 0.61.3 in your package.json file then run `npm install` or update to the latest version of the sdk which is dependent on the latest version.

Just as a heads up we will be releasing a new version later today with some small api improvements as well

[2019-12-16 18:28] mkimsing commented on #16
I've been experiencing the same issue, testing on android. Our project is using react-native 0.61.2 but I also made a fresh react-native project as a sanity check which had version 0.61.5. Had the issue on both the projects.

I passed a button in as a prop as suggested in the PR which displays the button. When I tap the button in the JS console there is no output, in the LogCat there is just:
[cod

[2019-12-17 00:38] wkiefer commented on #8
This should be fixed as of https://github.com/plaid/react-native-plaid-link-sdk/releases/tag/v2.0.1

[2019-12-17 00:38] #8 closed

[2019-12-17 00:38] wkiefer commented on #3
Fixed in https://github.com/plaid/react-native-plaid-link-sdk/releases/tag/v2.0.1

[2019-12-17 00:38] #3 closed

[2019-12-17 01:33] alexlod commented on #16
@wkiefer: thanks for responding and helping us with this!

I'm using Expo's fork of React, version 35.0.0. My `package.json` file uses `https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz`.

I'm new to React Native, so I went with Expo per the [official getting started guide](https://facebook.github.io/react-native/docs/getting-started).

When I click the `Button` I created in the `comp

[2019-12-17 05:16] kanji-keraliya commented on #16
@wkiefer  Can anyone share a working example or update readme file, Its help us a lots

[2019-12-17 19:23] zachrnolan opened #20 "property 'linkCustomizationName' not found on object of type 'PLKConfiguration *"
react-native-plaid-link-sdk: `2.0.1`
react-native: `0.61.4`

Receiving the following error when building iOS:

`node_modules/react-native-plaid-link-sdk/ios/RNLinksdk.m:116:27: property 'linkCustomizationName' not found on object of type 'PLKConfiguration *'`

[2019-12-17 19:28] zachrnolan commented on #20
It looks like `PLKConfiguration.h` is missing the `linkCustomizationName` property.

[2019-12-17 20:04] osikes commented on #16
Running into same issue, the v1.0.2 worked fine. But 2.0.0 + nothing displays as link for iOS.....

[2019-12-17 20:19] wkiefer commented on #20
Are you using Plaid Link for iOS `1.1.25`? Check your cocoapods file.

The property is defined here:
https://github.com/plaid/plaid-link-ios/blob/master/LinkKit.framework/Headers/PLKConfiguration.h#L148

[2019-12-17 20:54] zachrnolan commented on #16
Also experiencing this. Can't seem to get Plaid Link to open anymore.

[2019-12-17 20:59] osikes commented on #16
Okay... so what does work. Is create your own button/touchableopacity,etc and pass into the PlaidLink as 'component' prop.

<PlaidLink
component = {()=><TouchableOpacity onPress={yourCustomCallback}>...</TouchableOpacity>}
.../>

Then for the onPress make a call to 'openLink' (passing in all your props as json object) from 'react-native-plaid-link-sdk' . That seems to work.. but documentation is l

[2019-12-17 21:06] zachrnolan commented on #20
That was it! I didn't catch that update to the readme. Thanks!

[2019-12-17 21:06] #20 closed

[2019-12-17 21:12] osikes opened #22 "Android crashes on launch"
Currently attempting to use release 2.0.1. On iOS is working fine. I have followed the readme instructions for android, including adding the activity tags and meta-data to the AndroidManifest.xml file.. However app crashes at launch. With logcat, I see fatal error is related to

**'java.lang.IllegalStateException: Please provide the public key in either Plaid.create() or in a manifest metadata tag

[2019-12-17 22:53] zsweigart commented on #22
Hi @osikes, thanks for the report.  What version of the Android sdk are you using in your build.gradle file?

[2019-12-17 23:38] wkiefer commented on #16
Apologies for the trouble — we have a fix incoming for this very shortly.

[2019-12-17 23:56] #16 closed

[2019-12-18 00:00] wkiefer commented on #16
Thanks everyone! v2.0.3 is now available on NPM and fixes this issue.

I've also updated the readme to show using the default `TouchableOpacity` as well as using a custom component with custom props:
https://www.npmjs.com/package/react-native-plaid-link-sdk

[2019-12-18 02:01] osikes commented on #22
Appreciate response, I was able to find solution. It was a typo in my AndroidManifest.

[2019-12-18 02:01] #22 closed

[2019-12-18 02:03] osikes opened #24 "Android, link doesn't open Plaid"
I'm running into issues v 2.0.3. The component link renders but when I click on link, the android app doesn't switch to a Plaid view of banks. In log cat I see error
`Class not found when unmarshalling: com.plaid.linkbase.models.LinkConfiguration` I'm assuming I have something configured wrong, but unsure of how to debug.

[2019-12-18 04:52] kanji-keraliya commented on #24
@wkiefer Now showing button but do not open Plaid window.
I am using V2.0.3 and React Native V0.61.5

Showing warning in development
` TypeError: null is not an object (evaluating '_reactNative.NativeModules.PlaidAndroid.getConstants')
    openLink$@http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false:157682:66`

Can you please help me

[2019-12-18 04:56] kanji-keraliya commented on #24
@wkiefer I request you to add working example so every one know how to integrate it on android as well as iOS

Thanks in advance

[2019-12-18 05:13] zsweigart commented on #24
Hi @osikes,
So with a class not found it usually indicates something wrong with the gradle setup, or a file was obfuscated accidentally.  There are a few things we can look at.

First do you have the [build.gradle](https://github.com/plaid/react-native-plaid-link-sdk#androidappbuildgradle) and [settings.gradle](https://github.com/plaid/react-native-plaid-link-sdk#androidappbuildgradle) files confi

[2019-12-18 06:45] Mande3p commented on #24
Facing the same issue, link does not open Plaid on android. it works as expected on iOS.

[2019-12-18 07:07] Mande3p opened #25 "Causes activity callback issues for other packages"
When 'react-native-plaid-link-sdk' is used in app, it causes activity callback to fail for other apps like 'react-native-image-picker'. 'react-native-image-picker' crashes the first time when you use it together with 'react-native-plaid-link-sdk', as its the first time when 'react-native-image-picker' asks for permissions from user, the callback for which it does not receive due to 'react-native-p

[2019-12-18 07:45] Mande3p commented on #25
Fixed it, so removing reactApplicationContext.removeActivityEventListener(this) on Plaid unmount solved the issue.

Added this method to to PlaidModule.kt:
`  @ReactMethod
  @Suppress("unused")
  fun removeActivityEventListener(){
    reactApplicationContext.removeActivityEventListener(this)
  }`

Updated PLaidLink.js:
`export class PlaidLink extends Component{

  componentWillUnmount(){
    if (P

[2019-12-18 16:03] osikes commented on #24
@zsweigart I've verified build.gradle and settings.gradle. I have no proguard settings enabled. Perhaps I"m using the wrong value in the webviewRedirectUri. I'm assuming the 'yourAppName' should be replaced with value in strings.xml (@string/app_name) ?

[2019-12-18 16:51] mkarazin commented on #18
Last night I was working on the Android side, using 2.0.3, and the `onSuccess` data is different for Android compared to iOS. It's more nested and the properties within are slightly different. For example, the `institution` object with `name` property doesn't exist but there is an `institution_name` property. Is this worthy of another ticket or should it be kept here? There was a ticket before htt

[2019-12-18 18:38] zsweigart commented on #24
So you will need to [register a redirect URI ](https://plaid.com/docs/link/android/#register-redirect-uri) and then use that redirect URI as the webviewRedirectUri property.  We suggest you use something unique like your company name as the scheme to avoid conflicts with other apps in which case the app chooser will show.

[2019-12-18 18:40] zsweigart commented on #25
Hi @Mande3p would you mind opening a PR with the changes so we can review them?

[2019-12-18 19:04] osikes commented on #24
Yep, did that as well. Ensured uri is set in webviewRedirectUri prop, as well as data element in AndroidManifest file.

[2019-12-18 19:47] osikes commented on #24
I just attempted to test react-native-plaid-link-sdk for android on a new react native app, using[ cli quick start guide](https://facebook.github.io/react-native/docs/getting-started). And running into same issue 🤷‍♂

[2019-12-18 19:57] osikes commented on #24
An update.. I got it work 🍺 ... apparently for 'auth' product the props  [userLegalName, userEmailAddress] are required... which I don't understand why they aren't also required for iOS?

[2019-12-18 21:00] zsweigart commented on #24
Ahh yes those fields should be required for 'auth'
@wkiefer can you double check why those aren't required for `auth` on ios?

[2019-12-18 21:06] osikes commented on #24
@zsweigart they aren't required for web version of Plaid either (for 'auth' product) ... curious why required for mobile then?

[2019-12-18 21:29] zsweigart commented on #24
That is a good catch, there was a miscommunication when building the android sdk, we will update this to be optional for the next release

[2019-12-18 21:48] osikes commented on #24
Just wanted to say how awesome it is to have this official RN package for Plaid. And how much I appreciate getting dev support from y'all. 👍 Thank you. 😊

[2019-12-19 21:43] #24 closed

[2019-12-20 05:00] alexlod opened #27 "'TypeError: null is not an object' when clicking 'Add Account'"
I've followed the instructions in the README for `ios`. When I click `Add Account` in the iOS simulator, no Plaid dialog pops up. Instead I get a warning in the UI and the following error in my Expo terminal:

[code]

The UI warning looks like this:

<img width="320" alt="Screen Shot 2019-12-19 at 8 49 44 PM" src="https://user-images.githubusercontent.com/39045/71231095-35728c80-22a1-11ea-9260-f5d

[2019-12-20 06:11] alexlod commented on #27
I have a feeling this is related to my Expo setup. I'll close this for now while I continue to debug. I'll report back with my findings.

[2019-12-20 06:11] #27 closed

[2019-12-20 21:19] alexlod commented on #27
Yes, indeed this was an Expo setup. I wasn't properly linking the Plaid SDK. I need to do this:

[code]

I was missing `pod install`.

[2019-12-24 14:23] kanji-keraliya opened #28 "Application crash after added plaid configuration in android"
Application crash after added plaid configuration in android also not working any web api or http request

Please checked logcat logs
`2019-12-24 19:52:33.861 17709-17890/com.anchorusd E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.anchorusd, PID: 17709
    java.lang.NoSuchMethodError: No static method delimiterOffset(Ljava/lang/String;IILjava/lang/String;)I in class Lokhttp

[2019-12-26 06:52] kanji-keraliya opened #29 "Application crash in android when system back button"
Hello,

Application crash in android when press system back button after open plaid window

`2019-12-26 12:34:04.497 7040-7040/com.rnplaidexample E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.rnplaidexample, PID: 7040
    java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=101, result=0, data=null} to activity {com.rnplaidexample/com.rnplaidexample.MainAct

[2019-12-26 07:34] kanji-keraliya opened #30 "iOS application not start after adding plaid"
Can anyone help me to setup plaid in iOS, added plaid package and follow all step provided in readme file
According to readme file go to node_modules ➜ react-native-linksdk and add RNLinksdk.xcodeproj but `react-native-linksdk` directory not found in node_modules so i added from `react-native-plaid-link-sdk`

Please find following sample git repository and branch `ios-setup`
https://github.com/kan

[2019-12-29 08:19] edo1493 commented on #29
I have the same issue as well. :)

[2019-12-30 07:34] kanji-keraliya commented on #30
@wkiefer  Can anyone help me to setup plaid in iOS. I tried all steps given in readme file but not success. Can any one help me setup Plaid step by step.

Thanks

[2019-12-31 08:15] Mande3p opened #31 "version 2.0.4 does not work on android"
Version 2.0.4 does not open anything on click of PlaidLink on android, reverted back to 2.0.3 and it works fine. Please look into it.

[2020-01-02 03:58] mgm-self opened #32 "Link update mode?"
I am working on implementing PlaidLink in React Native Android app. The new link case works fine for me but I am running into bugs with link update case.

Following tag results in regular new link mode. That is, I see the bank selector and I got a new public token once I complete the sign up.
`<PlaidLink token={currentLink.publicToken}>...</PlaidLink>`

I tried using publicToken as property name,

[2020-01-02 18:55] wkiefer commented on #30
Your Podfile is incorrect here:
https://github.com/kanji-keraliya/RNPlaidExample/blob/ios-setup/ios/Podfile#L38

It should be `pod 'Plaid', '~> 1.1.25'`

Please see the [README](https://github.com/plaid/react-native-plaid-link-sdk#ios) and make sure you've followed the same steps. thanks!

[2020-01-02 18:55] #30 closed

[2020-01-05 06:34] lcareto opened #33 "Avoid hardcoding pubkey in AndroidManifest and load it from Js as for iOS?"
For iOS, the configuration to open the PlaidLink can be loaded from Javascript code, while Android requires to add additional codes in **AndroidManifest**.
Even if I can use the `manifestPlaceholders` properties in `build.gradle`, we have the requirement to load the **entire** Plaid configuration dynamically from the server, therefore I'm looking for a way to avoid having the pubKey hardcoded in A

[2020-01-05 19:12] charlespettis opened #34 "Issues on Android"

[2020-01-05 21:19] #34 closed

[2020-01-07 00:02] osikes commented on #24
This seems to be more broken. 2.0.4 I can't get the android link to open at all.

[2020-01-07 16:13] osikes commented on #28
@kanji-keraliya I added the following to my app build.gradle, and resolved issue
[code]

[2020-01-07 16:22] osikes opened #35 "2.0.4 - Android - selectAccount prop not working"
For plaid link of product 'auth', passing prop 'selectAccount:true' does not cause plaid link to prompt user to select an account after logging into bank account. This prop does work as intended on iOS and javascript web client.

[2020-01-07 16:29] osikes commented on #31
2.0.4 works for me , make sure your app build.gradle has ' implementation 'com.plaid.link:sdk-core:0.3.2''

[2020-01-07 16:56] osikes commented on #35
Closing issue, this apparently is deprecated , and replaced with a server side setting in the plaid dashboard, which I have verified works.

[2020-01-07 16:56] #35 closed

[2020-01-08 15:40] zsweigart commented on #32
Thanks for the report, we have found the issue and will be fixing it soon.

[2020-01-08 16:48] zsweigart commented on #31
Correct. 2.04 with com.plaid.link:sdk-core:0.3.2 is the right setup.  Do you have any log messages?  Is your webviewRedirectUri whitelisted? Currently the Uri is case sensitive but we are looking to update that soon.

[2020-01-08 16:50] zsweigart commented on #29
Thanks for the report, I have been able to reproduce so we will look into it.

[2020-01-08 16:52] zsweigart commented on #28
I am not able to reproduce with 2.0.4 and com.plaid.link:sdk-core:0.3.0.

I did not have to add any of the okhttp in my build.gradle file.  Do you have any more information on your gradle file?

[2020-01-08 19:14] zsweigart commented on #25
Hi @Mande3p since we've updated how the PlaidLink component is built, this code will now live in your app.js file.

[2020-01-08 19:14] #25 closed

[2020-01-09 01:46] zsweigart commented on #33
You can load the public key dynamically as part of the `Plaid.create(...)` call plaid.com/docs/link/android/#initialize-plaidlink-options

[2020-01-09 23:59] dustinhorton opened #36 "`webviewRedirectUri` marked required"
https://github.com/plaid/react-native-plaid-link-sdk/commit/4817c20c6626dced26527671fad54b29ea2f8f71#diff-97c99a924bd133e937208283f87b5ae8R103

Does this make sense to be required? My app is iOS only…easy enough to get around, but hate to set an option needlessly.

[2020-01-10 17:20] makx opened #37 "Android crash - Failure delivering result ResultInfo"
This error is thrown when i sign in using react-native-google-signin. The thing is that the error happens on
`com.plaid.PlaidModule.onActivityResult(PlaidModule.kt:222)`
     ...
      if (data.extras != null) {
       result.putMap(DATA, Arguments.makeNativeMap(data.extras))  // <--- ??????
      }
     ...
it looks that there is something weird around this line of code and i don't understand the

[2020-01-10 17:22] wkiefer commented on #36
Thanks for checking! Because RN targets both iOS and Android and the string is required for Android to function, we need to make it required.

[2020-01-10 17:22] #36 closed

[2020-01-11 05:19] kanji-keraliya opened #38 "Application crash in android when long press in input text - Android"
Hello @wkiefer @zsweigart

I have one issue in plaid, after adding username in plaid windows I tried to copy that username but when I long press on that text input application crashed.

Can you help me, how to prevent application crash in any condition?

[2020-01-11 05:20] kanji-keraliya commented on #28
@osikes its work for me, Thanks

[2020-01-11 08:23] kanji-keraliya opened #39 "Android Application crashed if not providing com.plaid.link.public_key"
Hello @wkiefer @zsweigart

I want to use different plaid key dynamic based on platform like sandbox or production, I already set key in  <PlaidLink ... publicKey = "##YOUR PUBLIC KEY##" />.

When I removed bellow line from AndroidManifest.xml then application crashed on app launch

```<meta-data   android:name="com.plaid.link.public_key"   android:value="YOUR KEY" />```

Can you please help me

[2020-01-11 12:54] kanji-keraliya commented on #39
@zsweigart does any way to set in react native instead of android menifest or MainApplication.java?

[2020-01-11 13:14] Mactub07 commented on #39
@kanji-keraliya , https://github.com/luggit/react-native-config

[2020-01-11 14:11] Mactub07 opened #40 "Android 10 crash when try to open plaid widget"
given that:
OS: Android 10
device: Pixel 2

issue: crash on OS android 10 when try to open plaid widget;
Plaid SDK : 'com.plaid.link:sdk-core:0.3.2'
react-native-plaid-sdk : 2.0.4

it happens only on android 10, on Android 8 it works normally

react-native-info:
System:
    OS: macOS 10.15.1
    CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Memory: 226.15 MB / 16.00 GB
    Shell: 5.7.

[2020-01-11 14:36] osikes commented on #28
Cool, @zsweigart , I don't know if there is another dependency that solves this, but those additions to build.gradle have certainly been necessary for two of my projects to work with this repo. 🤷‍♂

[2020-01-12 22:08] safaiyeh opened #41 "plaid-link-react-native npm package"
I own the npm namespace `plaid-link-react-native` as I was planning to make a react native module but never got around to it.

Great to see effort being put into supporting React Native! Would y'all want owner ship of the package name so you have consistent naming for the link SDKs.

[2020-01-12 22:08] safaiyeh commented on #41
cc @wkiefer

[2020-01-13 05:44] wkiefer commented on #41
Thanks so much @safaiyeh, we'd really appreciate taking ownership of your npm package to help avoid confusion out there.

My npm name is `wkiefer-plaid`, if you add me as a maintainer then I can transfer to the Plaid organization. Really appreciate, it, thanks!

[2020-01-13 05:49] safaiyeh commented on #41
Invite sent @wkiefer

[2020-01-13 05:49] safaiyeh commented on #41
When you confirm you have access I'll remove myself from the package

[2020-01-13 05:54] wkiefer commented on #41
Confirmed as maintainer, thanks so much!

(I don't see the "Admin" tab yet, before you leave maybe double check my role is set correctly?)

[2020-01-13 05:56] wkiefer commented on #41
I see admin now, thanks!

[2020-01-13 06:02] safaiyeh commented on #41
Awesome, all yours! I just removed myself.

Excited about Plaid's work, can't wait to see more.

[2020-01-13 06:02] #41 closed

[2020-01-13 11:19] sandeepg1220 commented on #18
I'm also facing this issue while working on Android. data object is different for Android and iOS.

iOS response obj:
{
status: "connected"
link_session_id: "2c98455c-defa-472c-a783-94307c36e489"
institution:
institution_id: "ins_3"
name: "Chase"
__proto__: Object
accounts: Array(8)
0: {id: "nlR8eGow86fnKKNEA59ksE1kDXPyDEH6q4Pmz", mask: "0000", name: "Plaid Checking", subtype: "checking", type: "d

[2020-01-13 20:28] masonwolters opened #42 "(iOS 13) onExit & onSuccess not called if modal is dismissed by swiping"
By default on iOS 13, the Plaid Link view controller is presented with a `modalPresentationStyle` of `UIModalPresentationPageSheet`. This is a [new default](https://medium.com/@hacknicity/view-controller-presentation-changes-in-ios-13-ac8c901ebc4e) in iOS 13 and causes the view controller to be able to be swiped interactively to dismiss.

<img src="https://user-images.githubusercontent.com/3914217

[2020-01-13 20:47] Statowfiq opened #43 "Plaid issue with React Native V0.59.9"
Hi Team,

We are trying to integrate the plaid library with our react native project which is build on react
native version 0.59.9 and react js version 16.8.3. When we run the app then it is showing us the
error to increase the react native version to 0.61.5.
Will this library support older version of react native?
Can we use 0.59.9 version to integrate this library?

[2020-01-20 07:03] kanji-keraliya opened #44 "iOS : Statusbar changed after plaid window closed"
Hello,

We use default status bar and status bar showing properly till open plaid window.
After closing plaid window status bar not restoring as default status bar showing only white status bar with white font,so nothing showing in status bar

[2020-01-26 05:03] tribou commented on #31
Not sure if this is related, but I wanted to post in case it helps. I'm getting an error when trying to press on Android with v2.0.4... I think this is the relevant part of the error log:

[code]

Reverting to v2.0.3 resolves the issue for me as well.

[2020-01-29 22:07] danilowoz opened #45 "Appcenter: Failed to verify bitcode"
I'm facing the following error on my build on Appcenter:

[code]

package version: "react-native-plaid-link-sdk": "2.0.4",

[2020-01-29 22:27] wkiefer commented on #45
I'm sorry @danilowoz — Xcode 11 changed the bitcode format in an incompatible way from Xcode 10.

The Plaid Link iOS SDK requires Xcode 11 as of `1.1.25` — are you able to use Xcode 11 instead of Xcode 10?

[2020-01-29 22:59] danilowoz commented on #45
It works fine! Thanks for the quick answer

[2020-01-29 22:59] #45 closed

[2020-01-31 05:51] sandeepg1220 opened #46 "Institutions are not coming"
Institutions are not displaying while a search for a particular institution.
I searched with USAA or Suntrust but none is displayed.
I used the below props.
              title="Add Account"
              publicKey=''
              env=''
              product=[]
              clientName=''"
              webviewRedirectUri=""
              language="en"
              countryCodes=['US']
Is there

[2020-02-02 19:15] tribou commented on #31
...for some reason, the iOS app does not throw any errors when using an invalid webview_redirect_uri 🤔 I was able to successfully complete the linking process on iOS with an unauthorized webview_redirect_uri.

Why is this blocking only on android? 😕

[2020-02-02 21:24] osikes commented on #31
@tribou did you follow the steps int the readme ?

[2020-02-03 15:56] mikeislearning commented on #31
@osikes This fixed my issue, thank you! It turns out I needed to add 2 redirect uris, one for my production app, one for my staging one

[2020-02-04 06:16] sandeepg1220 commented on #46
This is due to products passed by us.

[2020-02-04 06:16] #46 closed

[2020-02-04 06:43] tribou commented on #31
@osikes Registering the redirect URI fixes the crash on Android!

However, I'm still confused as to why the iOS SDK doesn't require a redirect URI to successfully register an account but the Android SDK does. Is this a bug?

[2020-02-04 07:33] gfreakcs opened #47 "Results for iOS and Android differ"
During selection:
1. iOS shows all accounts
![image](https://user-images.githubusercontent.com/2677477/73723216-7ea07200-4763-11ea-98e5-930d78d3f32e.png)

2. Android shows only depository types (checkings, savings)
![image](https://user-images.githubusercontent.com/2677477/73723245-89f39d80-4763-11ea-8bf8-bb40bf752747.png)

onSuccess:
1. iOS
[code]

2. Android
[code]

`<PlaidLink />` variable is t

[2020-02-04 13:29] osikes commented on #31
@tribou i can’t really speak for this library, but iOS and android simply have different redirecting strategies so, and only android requires a redirect url is my understanding .

[2020-02-11 07:59] amarnadhb4u commented on #47
Is there a way to restrict subtype?

[2020-02-12 10:26] 7patricia opened #48 "Link closes automatically"
Hi!

I'm using `openLink` alone to open the link without showing any UI element before, but a strange behaviour is happening: if I don't wrap it in a `setTimout` it opens and it automatically closes right after. If I wrap it in a `setTimout` it works perfectly.

Here's how I'm doing it:

[code]
Does somebody have any idea on why this might be happening?

Obs: I'm using `v2.0.4`

Thank you!

[2020-02-18 12:09] ShahidAli786 commented on #29
I have the same issue, any solutions?

[2020-02-18 13:23] ShahidAli786 commented on #29
I have solve this by adding following changes in  node_modules/react-native-plaid-link-sdk/android/src/main/java/com/plaid/PlaidModule.kt.

`  override fun onActivityResult(
    activity: Activity,
    requestCode: Int,
    resultCode: Int,
    data: Intent?
  ) {
    val result = WritableNativeMap()

    result.putInt(RESULT_CODE, resultCode)

    if (requestCode == LINK_REQUEST_CODE) {
      if

[2020-02-18 22:47] vafada opened #50 "Preselect Bank"
Is there a way to open Plaid Link Android with a preselected bank?

basically i want to skip the choose bank screen.

In the Plaid Swift module, that can be done by doing

`PLKPlaidLinkViewController(institution: institutionType, ...)`;

[2020-02-18 23:18] AdamAwan opened #51 "Support for EU"
Hello,

It seems the current version of this sdk does not support EU OAuth integrations as it's missing an option to set the `oauthNonce` and `oauthRedirectUri` values as specified here; https://plaid.com/docs/#oauth-requirements-for-webview-integrations-in-europe

Is this something that is planned to be supported?

[2020-02-19 11:15] VasiliSolodar commented on #51
have you tried `webviewRedirectUri ` to pass callback url?

[2020-02-20 20:37] AdamAwan commented on #51
Sorry for the delay in response.

Yes I have tried that, it's currently set as a url for a deep link back into the app. My current configuration is like so;

[code]

After authorisation I'm being redirected to `https://cdn.plaid.com/link/v2/stable/oauth.html#code=authorization_code_good&state=_SOME_STATE_VALUE` which never loads. Going to the same url in a web browser on my desktop shows the follo

[2020-02-21 13:47] vafada opened #54 "paymentToken is not defined"
this should be paymentTokenInput

https://github.com/plaid/react-native-plaid-link-sdk/blob/fa70ef993c7d4c9e92e27db4d57083025dada599/ios/RNLinksdk.m#L200

[2020-02-21 15:51] mikeislearning commented on #29
@ShahidAli786 Did you want to make a pull request with your fix?

[2020-02-21 17:18] eduardborges commented on #51
I think the version 3.0.0 adds support for it. The README needs to be updated, but if you check the commit of the release you can see that they added the props.

[2020-02-21 17:39] vafada opened #55 "Inconsistent API for Link update"
When opening Link in update mode:

in iOS, the property is `token`:

https://github.com/plaid/react-native-plaid-link-sdk/blob/fa70ef993c7d4c9e92e27db4d57083025dada599/ios/RNLinksdk.m#L14

in Android, the property is `publicToken`:

https://github.com/plaid/react-native-plaid-link-sdk/blob/fa70ef993c7d4c9e92e27db4d57083025dada599/android/src/main/java/com/plaid/PlaidModule.kt#L47

Please make prop

[2020-02-21 17:52] eduardborges opened #56 "iOS app won't start with version 3.0.0"
When I try to start the app I'm getting the following error:

`Use of undeclared identifier 'paymentToken'`

[2020-02-21 17:53] #56 closed

[2020-02-21 18:20] vafada opened #57 "Default iOS to fullscreen mode"
Plaid Link in iOS opens in popover mode

can this be changed to open in fullscreen mode?

https://developer.apple.com/documentation/uikit/uimodalpresentationstyle/uimodalpresentationfullscreen?language=objc

[code]

[2020-02-21 21:02] kinigitbyday commented on #57
Somewhat related, but it also doesn't currently respect the safe area, so parts get drawn underneath the home indicator
![Simulator Screen Shot - iPhone 11 - 2020-02-21 at 12 59 54](https://user-images.githubusercontent.com/2687212/75071516-61310f00-54aa-11ea-9caf-712cc90ecfcb.png)

[2020-02-21 21:09] vafada commented on #42
@masonwolters see #57

[2020-02-21 21:10] vafada commented on #32
@mgm-self see #55

[2020-02-21 21:25] eltoob commented on #54
+1

[2020-02-21 23:39] maitham commented on #54
same any solutions?

[2020-02-22 00:05] vafada commented on #50
[code]

does the trick. closing

[2020-02-22 00:05] #50 closed

[2020-02-23 23:31] maitham commented on #51
How do you reinitialise the Plaid Link component? Right now I have it redirecting to my website which opens up a universal link which takes me back to my app with the oauth_state_id. I need to then reinitialise the plaid component with the oauth_state_id, but how do you go about doing that?

[2020-02-24 04:04] devika7 commented on #27
Hi, I am facing the same issue. Do I have to eject the project from Expo to be able to do the above steps? There is no ios or android folder in my current react native project. So wanted to know if I can use plaid without ejecting my project from expo.

[2020-02-24 04:11] alexlod commented on #27
Yes you need to eject the expo project.

[2020-02-24 04:18] devika7 commented on #27
@alexlod Thanks for your input. Hoping to get this resolved now as I was stuck with this for some days. Do you have any example project where you have integrated Plaid? Would be very helpful to refer a bit.

[2020-02-24 04:56] alexlod commented on #27
Unfortunately I don’t have any resources that would be helpful for you. Although personally I’ve found expo to do more harm than good when a native library is needed. You may benefit from restarting your project with pure react native and avoiding expo.

[2020-02-24 15:36] eduardborges commented on #51
I would also appreciate some documentation on how to integrate the library with oauth

[2020-02-24 19:12] wkiefer commented on #51
Yes — for flows that jump to other apps and use deep links you should dismiss the existing plaid link and reopen.

Some documentation links:
https://plaid.com/docs/faq/#what-do-i-need-for-different-oauth-integrations-
https://plaid.com/docs/quickstart/#run-quickstart-oauth
https://plaid.com/docs/#oauth

We don't have RN specific documentation on this yet, sorry!

Closing this as v3.0.0 added suppo

[2020-02-24 19:12] #51 closed

[2020-02-24 19:21] wkiefer commented on #57
We have an internal ticket for that and hopefully the fix will be out in the March release. thanks!

[2020-02-24 19:22] wkiefer commented on #57
re: this bug. Yes, we can make the default for RN full screen for now.

We'll also provide a property to customize to a different value. I've filed an internal ticket to add that feature.

[2020-02-24 19:34] #54 closed

[2020-02-24 19:37] wkiefer commented on #54
Apologies — this was a merge error. Shouldn't happen again — I'll push a 3.0.1 shortly

[2020-02-24 19:44] #57 closed

[2020-02-24 19:55] maitham commented on #51
What's the recommended way to dismiss the modal? The sdk doesn't expose the method available in RNLinkSDK.m to dismiss the modal.

[2020-02-24 20:00] wkiefer commented on #42
The default is now full screen so callbacks should work as expected. Thanks for the report!

[2020-02-24 20:00] #42 closed

[2020-02-24 20:01] zsweigart commented on #28
We have updated to version 3.0 and updated the api.  You should not need those extra dependencies now.

[2020-02-24 20:02] zsweigart commented on #29
Hi @ShahidAli786 and @mikeislearning we have addressed these in the latest release 3.0 which includes our first non-beta Android sdk release.

[2020-02-24 20:03] zsweigart commented on #31
Hi in the latest release 3.0 which includes our first non-beta Android sdk release you no longer need the webview redirect uri, instead you will need to register you android app id on the dashboard. plaid.com/docs/link/android/#register-app-id

[2020-02-24 20:04] zsweigart commented on #32
The Issue has been fixed in version 3.0

[2020-02-24 20:05] zsweigart commented on #33
In version 3.0 you will now use `Plaid.setPublicKey(...)` see the [docs](plaid.com/docs/link/android/#initialize-plaidlink-options)

[2020-02-24 20:06] zsweigart commented on #37
Hi @makx what version of the sdk are you using?  We just released version 3.0

[2020-02-24 20:07] zsweigart commented on #38
Hi @kanji-keraliya thanks for the report, we will investigate with the latest 3.0 release

[2020-02-24 20:09] zsweigart commented on #39
Hi @kanji-keraliya in the latest 3.0 release you can set the public key in the [PlaidLink component](https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.js#L107) by calling `Plaid.setPublicKey(...)`  in Android code or by adding the key to the manifest.  The key must be set before you open link.

[2020-02-24 20:10] zsweigart commented on #40
Hi @Mactub07 thanks for the report, we will investigate on the latest release 3.0

[2020-02-24 21:24] maitham opened #63 "Expose DismissLinkViewController Method"
EU oauth flow requires us to dismiss the Link view controller, and reinitialise with the oauthStateId. I could be missing something, but if you're using react navigation there doesn't seem to be a way to dismiss the plaid link view controller programatically.

[2020-02-24 23:48] zsweigart commented on #55
@vafada thanks for the input, we will look into this for the next release

[2020-02-24 23:51] zsweigart commented on #47
@gfreakcs thanks for the input.  We have noted the inconsistencies and will review them for the next release.

[2020-02-25 07:42] nihalgadhavi9 opened #64 "Redirect Issue For Ireland Bank's"
I'm trying to implement plaid for Ireland bank which is redirecting to browser but after successfully providing grant permission it's not redirecting back in-app [sandbox environment]

[2020-02-25 22:09] vafada opened #66 "Data return on link success is inconsistent for both platform"
the data in the `onSuccess` call is different for each platform

for iOS:

[code]

for Android

[code]

Things to note.

1. Android metadata is all under `link_connection_metadata` object while iOS has metadata spread out in the top-level object
2. Android `link_connection_metadata.accounts` has no `id` prop but instead has `account_id` prop.
3. Android has no `institution` object. instead its spr

[2020-02-25 22:12] vafada commented on #66
dup of #47

[2020-02-25 22:12] #66 closed

[2020-02-26 12:05] makx commented on #37
@zsweigart i'm using the 2.0.1.

[2020-02-26 13:42] eltonbasha commented on #47
@zsweigart Hi when is the next release going to be available? Thank you.

[2020-02-26 18:34] zsweigart commented on #29
Please let us know if this resolves your issue (sorry for the early close)

[2020-02-26 18:34] zsweigart commented on #37
Can you upgrade to 3.0?

[2020-02-26 18:36] zsweigart commented on #47
The next release is planned for mid-march.  This is a current inconsistency between iOS vs web/Android and there are no current plans to patch it so it will remain inconsistent in RN

[2020-02-26 19:50] khazizaj commented on #47
@zsweigart A couple of questions in relation to aiding our own development processes:
Will both listed issues remain inconsistent for the next release? The different responses for both platforms can be handled, but the iOS bridge listing all accounts instead of only listing the depository types, does present as a significant issue for our live products.
If we could have some feedback on how this m

[2020-02-26 20:29] wkiefer commented on #47
@khazizaj and @gfreakcs — what products are you passing in during initialization?

We'll be adding docs and support for account type filtering in the next release, which will ensure your results are the same on both platforms.

[2020-02-27 23:48] AdamAwan commented on #51
@wkiefer
Sorry it's taken me so long to get back to this.

Was support added for Android?

There's [no corresponding values in the kotlin file](https://github.com/plaid/react-native-plaid-link-sdk/blob/393b885d94f7d23dce9a0cabdceaf3e50a269bef/android/src/main/java/com/plaid/PlaidModule.kt#L39).  I appreciate I may have missed something but I still can't get it working.

[2020-03-01 21:09] eduardborges opened #67 "Typescript support"
Are you guys planning to add Typescript support?

[2020-03-01 23:28] devika7 commented on #16
Hi, could you please elaborate on how to go about it? I am facing the same issue and somehow can't display the Plaidlink component at all.

[2020-03-03 08:43] sypl commented on #67
This is my first pass at it:
[code]

[2020-03-03 10:06] sypl opened #68 "iOS: 'create' method not defined"
I've installed the package, linked it and mounted a `<PlaidLink {...bunchOfProps} />` as described in the readme. When I click on the rendered link I get the following error message:

[code]

My guess is it's this line: https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.js#L27, which suggests it's not linking correctly.

In terms of steps taken to install, they were:
[code]

[2020-03-03 10:28] 7patricia commented on #48
Hi! This is still happening to me on v3.0.1.

[2020-03-03 15:58] sypl commented on #68
Resolved. We were using another version of react-native-plaid-link before this official one came out. We had to `react-native unlink react-native-plaid-link` it before following the install steps of this readme. They didn't play nice with each other.

[2020-03-03 15:59] #68 closed

[2020-03-04 11:11] phliem opened #69 "error: no visible @interface for 'PLKPlaidLinkViewController' declares the selector 'initWithPaymentToken:oauthStateId:configuration:delegate:'"
I have upgraded from v2.0.2 to v3.0.1 and get the following error when I try to compile on iOS

![Screenshot 2020-03-04 at 11 08 02](https://user-images.githubusercontent.com/5693409/75873986-d258b680-5e08-11ea-954b-171e44083de9.png)

[2020-03-04 11:19] sypl commented on #67
I based the `onSuccess` callback on the description:

[code]

However, I've found in reality the callback takes one argument, which seems to be the metadata:
[code]

[2020-03-04 11:23] sypl commented on #67
Looks like callback args are related to this: https://github.com/plaid/react-native-plaid-link-sdk/issues/18

[2020-03-04 17:11] #28 closed

[2020-03-04 17:12] #32 closed

[2020-03-04 17:12] #33 closed

[2020-03-04 17:12] #37 closed

[2020-03-04 17:12] #39 closed

[2020-03-04 17:14] zsweigart commented on #48
Hi @7patricia Thanks for the report, we had not designed the SDK to open link without using the component.  We'll look into how to make this possible

[2020-03-04 17:15] zsweigart commented on #64
Hi @nihalgadhavi9 can you provide information on which version of the SDK you are using and which OS you are running this on?

[2020-03-04 17:16] zsweigart commented on #67
Thanks for the suggestiong @sypl would you mind opening a pull request for the changes and we can discuss on there?

[2020-03-04 17:18] sypl commented on #67
@zsweigart Sure, I'll do that now

[2020-03-04 17:26] zsweigart commented on #11
The balance as an initial product is not valid it can only be used through API call on an existing item.  Please use the Auth product to link your users then you can get the balance.  See here plaid.com/docs/quickstart/#auth-data

[2020-03-04 17:26] #11 closed

[2020-03-04 17:56] sypl commented on #67
Added here: https://github.com/plaid/react-native-plaid-link-sdk/pull/71. Can't add reviewers, I'm guessing that's a team thing.

[2020-03-04 18:11] #69 closed

[2020-03-04 18:18] wkiefer commented on #16
There is an example here @devika7 👍 https://github.com/plaid/react-native-plaid-link-sdk#customizing-the-plaidlink-component

[2020-03-04 18:27] phliem commented on #69
Thanks it did fix the issue

[2020-03-05 14:27] sypl opened #72 "Plaid screen covers inspector"
As soon as I click on a link to open up the Plaid screen, the Inspector gets covered, so I have no way of finding out the testIds of elements in said screen.

May be related to https://github.com/facebook/react-native/issues/8193

[2020-03-07 18:23] zsweigart commented on #40
Hi @Mactub07 could you please update to the latest release

[2020-03-08 22:07] zsweigart commented on #64
This issue will be fixed in the next release.
Android PR -> https://github.com/plaid/react-native-plaid-link-sdk/pull/73
@wkiefer is working on the iOS one

[2020-03-08 22:10] zsweigart commented on #43
React Native 0.60 was a breaking change and this library is not backwards compatible before that.  We use the latest version; however, you can use previous versions as long as they are 0.60 or greater.

[2020-03-08 22:10] #43 closed

[2020-03-09 07:26] ShaharyarMaroof opened #74 "Android App Crashes on load"
I am using Plaid link SDK version ```"react-native-plaid-link-sdk": "^3.0.1"``` and I followed the Android linking steps as mentioned in the [repo installation steps](https://github.com/plaid/react-native-plaid-link-sdk). Now when I launch my app, it crashes instantaneously.

The following error is shown in the stacktrace:
[code]
If I remove these changes the app runs on android without crash, but

[2020-03-09 11:57] vafada commented on #37
This is also happening when logging in via facebook

[2020-03-09 14:57] ShaharyarMaroof commented on #28
@zsweigart I am using the latest version of the library and I am also getting an exception running the project on Android. I shared the stacktrace [here](https://github.com/plaid/react-native-plaid-link-sdk/issues/74) as I did not find any issues logged previously.

I added the lines mentioned by @osikes and the app does not crash now.
```"react-native version": 0.60.6```
```"react-native-plaid-li

[2020-03-09 14:58] ShaharyarMaroof commented on #74
Solved my error by using the solution mentioned in this [issue](https://github.com/plaid/react-native-plaid-link-sdk/issues/28#issuecomment-571655797).

[2020-03-09 20:38] vafada opened #75 "PlaidModule.onActivityResult is getting called for Intents not related to Plaid"
same issue with #37

I'm on version 3.0.1, using Facebook login. Upon login via Facebook, the app crashes:

`03-09 08:04:42.006  4519  4519 E AndroidRuntime: java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=64206, result=-1, data=Intent { (has extras) }} to activity {com.truebill/com.truebill.MainActivity}: java.lang.IllegalArgumentException: Could not convert cla

[2020-03-10 10:02] sypl commented on #72
I think it's because the Plaid widget is a native view and not React Native so the React Native Debugger doesn't know about it. Anyway, managed to solve by using Capture View Hierarchy in Xcode.

[2020-03-10 10:02] #72 closed

[2020-03-10 20:49] zsweigart commented on #74
Are you using the latest version of the android sdk internally:
`implementation 'com.plaid.link:sdk-core:1.0.2'`

[2020-03-10 20:58] zsweigart commented on #38
Hi @kanji-keraliya we have been unable to reproduce, can you provide more information including:
- What device are you using?
- What OS version is it running?

[2020-03-10 21:00] #31 closed

[2020-03-11 00:28] mscott-nimbly commented on #37
This is also happening when using Braintree payments and Plaid sdk version 3.0.1

[2020-03-11 04:38] ShaharyarMaroof commented on #74
Hey @zsweigart I followed the documentation guide to set it up, where it says to use 1.0.0. [Link](https://github.com/plaid/react-native-plaid-link-sdk#androidappbuildgradle). I'll try it with your command as well and let you know if it solves the problem. Thanks

[2020-03-11 05:42] nihalgadhavi9 commented on #64
thank you @zsweigart will try after few days

[2020-03-11 06:54] ShaharyarMaroof commented on #74
@zsweigart it is still crashing, without the following lines
[code]

[2020-03-11 08:38] ShaharyarMaroof commented on #75
Same issue here.

[2020-03-11 10:06] ShaharyarMaroof commented on #75
Sharing the stacktrace here as well.
[code]

[2020-03-11 10:10] ShaharyarMaroof commented on #37
I am also facing the same issue with Braintree payments and Plaid SDK on 3.0.1

[2020-03-11 12:37] vafada commented on #75
@ShaharyarMaroof
yes, the try/catch block fixes my Google/Facebook login issue.

Looking at your stacktrace.... looks like the `this.callback?.invoke` is getting called... which is a different issue..

In my case, the flow goes to the `catch` block so `this.callback.invoke` doesn't get called.

[2020-03-11 12:40] ShaharyarMaroof commented on #75
Any idea how I can fix this? I am getting this issue whenever I try to open braintree or google fit from my app. As soon as I press the back button from any of these popups the app crashes.

[2020-03-11 14:36] ShaharyarMaroof commented on #37
hey @makx did you manage to solve this issue?

[2020-03-11 18:47] vafada commented on #75
@ShaharyarMaroof

yeah i dont think you can catch runtime exception...

In your case you can inspect the `Intent` before calling the callback and make sure its from plaid...

or worse case... dont even invoke the callback in the else block or invoke the callback with your own data instead of the Intent extra data

[2020-03-11 20:15] makx commented on #37
not yet

[2020-03-12 03:59] ShaharyarMaroof commented on #75
@vafada yes that's what I did and it seems to work now. Submitted a PR as well #77 .

[2020-03-12 10:32] ShaharyarMaroof opened #78 "java.lang.IllegalStateExceptionTransmitter.kt:156 cannot make a new request because the previous response is still open: please call response.close()"
[code]

@zsweigart  I'm getting this issue on Android. If I relaunch the app after crash it does not happen again.

[2020-03-12 14:37] zsweigart commented on #75
Thanks for the contribution, I've reviewed the changes

[2020-03-12 14:38] zsweigart commented on #78
Thanks for the report, I'll take a look

[2020-03-12 14:39] zsweigart commented on #40
Are there any steps to reproduce?

[2020-03-12 14:43] ShaharyarMaroof commented on #78
Ah, so I have a flow where I can connect a bank account from plaid.
1. I connect a bank account using Plaid SDK.
2. Relaunch the app and come back to the Plaid Screen. // The app crashed here.
3. Relaunch after crash, and come back to the Plaid Screen, the app does not crash.

[2020-03-12 18:48] #63 closed

[2020-03-12 22:51] wkiefer commented on #51
I've added a dismiss method in https://github.com/plaid/react-native-plaid-link-sdk/commit/91e2581e3feeb1caa6ebd9339202074d515686f5

It will be out in our release next week — thanks!

[2020-03-15 23:25] celwell opened #81 "Does not work below Marshmallow"
When trying to open the webview in the emulator with Android 5.1 I get this error:

[code]

However, it works great in Android 6.0+.

[2020-03-16 04:43] ShaharyarMaroof commented on #78
@zsweigart any idea what the issue is? and is there any workaround?

[2020-03-16 12:06] khazizaj commented on #47
Hello,
Do you have an approximate date on the release including the fix for account type filtering (discussed above)?

[2020-03-16 19:03] JeffKGabriel opened #82 "iOS - minimizing or switching apps while PlaidLink is active"
iOS - Minimizing or switching apps while PlaidLink is active seems to close Plaidlink - as well as not return thread to RN javascript - resulting in frozen ios runtime

v3.0.1  iOS & Android

Doesn't seems to be an issue on Android - everything working as intended there

[2020-03-17 15:00] zsweigart commented on #81
Hi @celwell thanks for the report.

What is the version of the SDK
What device is the emulator and what OS version is it on?

[2020-03-17 15:24] celwell commented on #81
"react-native-plaid-link-sdk": "^3.0.1"
Pixel 3 XL API 22 -- Target: Android 5.1 (Google APIs)
I'm using MacOS Mojave (10.14.4).

[code]

[2020-03-17 16:09] zsweigart commented on #81
What version is your webview in the emulator?
Settings > Apps > All > Android System Webview > Should be at the top (e.g. "Version 37")

[2020-03-17 16:14] celwell commented on #81
Version 39

[2020-03-17 16:38] zsweigart commented on #81
That version is very outdated, while emulators are hard to update to a newer version of chromium, physical devices can be updated via the play store.  https://developer.chrome.com/multidevice/webview/overview#will_the_new_webview_auto-update_

We will update the error message in a future release but will not support versions below 44

[2020-03-17 16:38] #81 closed

[2020-03-17 18:10] zsweigart commented on #38
Closing as cannot reproduce

[2020-03-17 18:10] #38 closed

[2020-03-18 07:08] JeroenMols commented on #29
@kanji-keraliya can you please upgrade to 3.0.1 and let us know if your issue is fixed or not?
That enables us to close this ticket or look into alternative solutions.

[2020-03-18 15:59] zsweigart commented on #78
Hi @ShaharyarMaroof we have been unable to reproduce.  A few more questions:

1. What device/emulator are you running on?
2. What OS version is the device/emulator using?
3. What environment of Plaid are you connecting to?
4. From step 1->2 do you mean you  are going through the link flow successfully, then killing the app then reopening it or are you just backgrounding it and reopening it?

[2020-03-19 06:07] JeffKGabriel commented on #82
I was able to keep PlaidLink running while minimized / switching apps by launching it from a higher up parent component - will look into what it causing this bug. Could be something due to being child of a Modal component or otherwise - closing for now:)

[2020-03-19 06:07] #82 closed

[2020-03-19 06:30] ShaharyarMaroof commented on #78
Hey @zsweigart I tried it just now and its not reproducing at my end as well. Earlier it was happening consistently, I think it must've been some config issue. But I was using the following when it was consistently reproducing
Devices:
1. Pixel 3 emulator
2. Samsung Galaxy A70 and Samsung Galaxy A71

OS: Android 9

Plaid Env: sandbox

Yes, I successfully connected the bank account via Plaid, then

[2020-03-19 06:37] JeffKGabriel commented on #82
After some more digging - this bug only occurs when a Modal's visible field becomes false, and PlaidLink is a child and open
ie. `<Modal visible={willBecomeFalse}><PlaidLink /></Modal>`

Does not occur for situations such as views becoming unrendered / hidden
ie.  `{willBecomeFalse && <View><PlaidLink /></View> }` - still runs in this situation

Is very much an edgecase - but should be able to rep

[2020-03-19 16:42] wkiefer commented on #63
This is now released in v3.1.0
https://www.npmjs.com/package/react-native-plaid-link-sdk

[2020-03-19 16:42] wkiefer commented on #51
v3.1.0 is now released with this method:
https://www.npmjs.com/package/react-native-plaid-link-sdk

[2020-03-19 22:12] #75 closed

[2020-03-19 22:13] #64 closed

[2020-03-21 02:07] maitham opened #87 "RNLinkSDK fails to build for ios 3.1.0"
I get the following error with v3.1.0 ios,  latest react native version .

<img width="1023" alt="Screenshot 2020-03-20 at 19 05 21" src="https://user-images.githubusercontent.com/15156137/77217203-d578c580-6add-11ea-892b-e5f44b76d58c.png">

[2020-03-21 06:34] Mactub07 commented on #40
Upgraded library , crash aren't reproduced

[2020-03-21 16:42] ziedjebali opened #88 "No visible @interface for 'NSObject' declares the selector 'count' on iOS Build"
Getting the error:

No visible @interface for 'NSObject' declares the selector 'count'

for this code:

`    if ([accountSubtypes count] > 0) {
       linkConfiguration.accountSubtypes = accountSubtypes;
    }
`

<img width="1376" alt="Screen Shot 2020-03-21 at 12 42 37 PM" src="https://user-images.githubusercontent.com/9031738/77231460-75336380-6b71-11ea-9370-5e06416d5ce3.png">

[2020-03-23 11:14] alexmbp opened #89 "Do you have SDK changelog?"
Hello Plaid!

Do you have public changelog? I found update helpers, but I don't see some general changelog.
I also found that you have react-native 0.61.3 as a peer dependency. Does it mean that you library requires react-native 0.61+ ?

[2020-03-23 13:51] miguel-martinez-0 commented on #88
Same Error for me...

[2020-03-23 16:04] miguel-martinez-0 commented on #40
What is you current version now?

[2020-03-23 16:43] JeroenMols commented on #40
@Mactub07 thanks for retesting!

In the past releases we've made quite some improvements to our secure storage code. Since you are currently no longer able to reproduce, I suggest to close this issue. Please don't hesitate to contact us when this happens again.

[2020-03-23 17:04] #40 closed

[2020-03-23 17:57] JeroenMols commented on #78
Glad everything is working for you, but unfortunately we couldn’t repro with those devices. Please update to the latest SDK and don’t hesitate to file a new issue if this issue happens again though!

[2020-03-23 18:32] #78 closed

[2020-03-24 16:45] nchase commented on #87
@zsweigart this appears to be broken for us as well. We cannot build on iOS with version 3.1.0.

[2020-03-24 17:08] wkiefer commented on #87
we'll get a fix out for this today, thanks

[2020-03-24 17:11] #87 closed

[2020-03-24 17:15] wkiefer commented on #87
Fixed in https://www.npmjs.com/package/react-native-plaid-link-sdk/v/3.1.1 — apologies for the break.

[2020-03-24 17:34] nchase opened #92 "Plog doesn't exist as a dependency, Android cannot compile"
The Android code references  `Plog` in a few places, but `Plog` isn't included as a dependency

[2020-03-24 17:42] vafada opened #93 "Android doesn't compile. Plog isn't imported"
`Plog` is used in PlaidModule.kt but that object is never imported thus code won't compile

[2020-03-24 19:53] miguel-martinez-0 commented on #88
@ziedjebali , do you found a solution for this?...

[2020-03-24 19:56] wkiefer commented on #88
This is fixed with https://github.com/plaid/react-native-plaid-link-sdk/pull/90 and is released in v3.1.1 — please let me know if you still have issues after upgrading. thanks!

[2020-03-24 19:56] #88 closed

[2020-03-24 23:50] vafada commented on #93
dup of #92

[2020-03-24 23:50] #93 closed

[2020-03-25 06:44] ganes1410 opened #95 "AccountSubtype filtering does not work in iOS"
I am using the latest version (3.1.1) which adds support for accountSubTypes .

But passing accountSubtypes as a prop does not filter the account types. Here is my code.

[code]

I followed this [section](https://plaid.com/docs/#auth-filtering-institutions-in-link) from the doc to add filtering types.

[2020-03-25 10:11] pilotocheg commented on #92
The same

[2020-03-25 15:34] miguel-martinez-0 commented on #92
Same. Still no solution?

[2020-03-25 16:12] nchase commented on #92
@pilotocheg @miguel-martinez-0 see this patch/fork: https://github.com/plaid/react-native-plaid-link-sdk/pull/94/

[2020-03-25 17:19] Mactub07 commented on #40
@miguel-martinez-0
"react-native-plaid-link-sdk": "^3.0.1",

[2020-03-27 02:12] k11kirky opened #98 "EU AUTH - INVALID_CREDENTIALS when using grant access"
ENV: sandbox
Device: IOS simulator iphone10

I get onSuccess with any US bank however with any UK bank It never calls goes to my oauth redirect and throws this {"event": "ERROR", "metadata": {"error_code": "INVALID_CREDENTIALS", "error_message": "the provided credentials were not correct", "error_type": "ITEM_ERROR", "exit_status": "requires_credentials"} regardless if I click simulate error or gr

[2020-03-27 03:59] k11kirky commented on #98
When I change my redirect URL to something like "https://google.com" it redirects in the browser. However when i set it to the deep link back in my app, It doesnt seem to rerender the plaid link with additional params. Any help would be appreciated

[2020-03-27 04:18] k11kirky commented on #51
Can somebody please provide an example of this working with deep linking, dismissing the modal and using the stateID

[2020-03-27 06:44] ganes1410 commented on #95
This was fixed for me in the latest release (3.1.2).

[2020-03-27 06:44] #95 closed

[2020-03-27 14:20] Momics opened #99 "Planned support for Managed Expo apps?"
First of all, thanks for the great work on the Plaid platform!

I've been fiddling around with the Plaid API today, using the web and react native demo's. They all work great. However, when trying to integrate Plaid Link with an Expo RN app it throws an unhandled promise rejection as detailed earlier [in this issue](https://github.com/plaid/react-native-plaid-link-sdk/issues/27).

I was wondering

[2020-03-27 19:50] maitham commented on #51
I can quickly provide some snippets, let me know if you want a more complete example I can perhaps help more over the weekend. My dismissLink may look a bit different as I forked the repo at the time and haven't updated since.

Flow is

1. openPlaid gets called when user clicks Add Account.
2. Goes through link to eu institution
3. Gets redirected to <app_name>://plaid/<screen_path> oauthstateid a

[2020-03-27 21:29] k11kirky commented on #51
Thanks a lot maitham - I would love to see a more complete example because in my deep linked component the useEffect doesnt fire, however when I try to deep link through the terminal
(" xcrun simctl openurl booted "myApp://Accounts?oauth_state_id=1234"")
 it does fire useEffect

[2020-03-28 07:11] eduardborges commented on #98
Could you copy your code?

[2020-03-28 09:00] eduardborges commented on #98
I'm getting the same error

[2020-03-30 11:07] maitham commented on #51
@k11kirky Can you share some of your code?

[2020-03-30 16:13] k11kirky commented on #51
@maitham Here is a slightly simplified example of my app: I've tested this and it still wont work:

Nav.js
`
const Tab = createBottomTabNavigator();

const StackNav = () => {
  const ref = React.useRef();

  const { getInitialState } = useLinking(ref, {
    prefixes: ["myApp://"]
  });

  console.log("here");

  const [isReady, setIsReady] = React.useState(false);
  const [initialState, setInitial

[2020-03-30 23:27] Diego-Franco opened #102 "Click on Select Bank randomly get blocked"
Using this new sdk I was checking on the iOS simulator and some times some tiles (banks) are not tappable, this happens randomly:

**rn-plaid-link-sdk version:** `3.1.2`
**react-native version:** `0.61.5`

Clicks with errors
<img src="https://user-images.githubusercontent.com/5623933/77970568-60f21380-72a1-11ea-9eed-da72d1dc1f5f.gif" width=200 height=400/>

Clicks without errors
<img src="https://

[2020-03-31 09:05] maitham commented on #51
Is this in dev or sandbox? Also I think you need to set the same oauthnonce for when you reopen the plaid link.

[2020-03-31 15:52] Mactub07 opened #103 "Android backButton doesn't generate any event"
Platform: Android;
"react-native-plaid-link-sdk": "^3.0.1",

Description:
I'm using event listener like it's described in documentation;

const emitter = new NativeEventEmitter(Platform.OS === 'ios' ? NativeModules.RNLinksdk : NativeModules.PlaidAndroid);
    this._listener = emitter.addListener('onEvent', (e) => console.log(e));

ISSUE:
Steps:
- open plaid widget on Android device
- widget is ope

[2020-03-31 16:31] wkiefer commented on #51
@maitham do you have a `requestId` from one of your failed sandbox requests? We'd like to take a look at logs. (it's returned with the error metadata)

Same question for you @k11kirky — do you have `requestId` we could look at from a sandbox request? Are things working for you in dev mode?

[2020-03-31 18:02] k11kirky commented on #51
I am doing it in sandbox - here is the request id "request_id": "e5J3xm0aAuX7b9y"

[2020-03-31 20:39] k11kirky commented on #51
@maitham @wkiefer
I have tried in development as well:

{"error": {"message": "an unexpected error occurred"}, "institution": {"institution_id": "ins_63", "name": "Revolut - Open Banking"}, "link_session_id": "cfd163eb-3c52-45f2-a5e6-8efa38e6de99", "request_id": "O580yxBIynOA7uI", "status": "requires_credentials"}

However, When I test my deeplink in the browser it triggers my useEffects

[2020-03-31 22:07] amytang0 commented on #103
Hi, cancellation events are structured slightly differently than normal events.
For example, I see:
`Exit:  {"link_session_id": "b461e4ec-228f-4efc-94ca-a39a982b4f6d"}` in the logs, when pressing back an exiting.
Can you let me know if you see this event instead?

[2020-03-31 22:08] amytang0 commented on #92
Hi this was indeed resolved with https://github.com/plaid/react-native-plaid-link-sdk/pull/96.
Sorry about that, and thank you for the feedback! Please update to latest.

[2020-03-31 22:08] #92 closed

[2020-04-01 07:12] Mactub07 commented on #103
@amytang0 , I also receive 'exit' event when I use 'callback approach' like you have

onExit={data => console.log('exit: ', data)} (like in documentation)

When I do the same with eventListener approach I can see events like Plaid describes https://plaid.com/docs/#onevent-callback (for example HANDOFF, 'OPEN',)  but BackButton doesn't generate 'any' event

[2020-04-02 11:08] pilotocheg commented on #44
the same

[2020-04-02 11:26] pilotocheg opened #104 "Android: StatusBar style don't changing according to Plaid Connection Screen;"
![Screenshot_1585825773](https://user-images.githubusercontent.com/38259170/78243983-6b085200-74ed-11ea-94b6-f60aee2ff951.png)
If StatusBar was with custom styling before plaid linking opened then it looks like on screenshoot. I tried to imperatively change status bar styles via ```StatusBar.setBarStyle('dark-style')``` But nothing happens

[2020-04-06 22:26] maitham commented on #48
Yea this is super annoying do we have timeline for this? Seems to only happen in production mode.

[2020-04-09 10:32] xsats commented on #99
I'm in a similar situation and found this:
https://www.npmjs.com/package/expo-plaid-link

Disclaimer - I have not yet attempted to integrate, but plan to soon.

[2020-04-09 11:55] JeroenMols commented on #29
Closing this issue due to a month of inactivity, should the problem still persist don't hesitate to reopen or file a new issue.

[2020-04-09 11:55] #29 closed

[2020-04-09 11:58] JeroenMols commented on #74
We are currently unable to reproduce this, but it seems like a dependency conflict between our transitive dependencies and other dependencies that you are using.

This quarter we are looking into reducing (and relaxing) our transitive dependencies, so we'll get back to this once that is shipped.

[2020-04-09 16:38] karlvd commented on #99
The problem with the current implementation is that it redirects to pladLink:// which is not a registered URL scheme. For this to work, the call has to be intercepted in the Webview which can only be done in native code.

A lot of React Native apps are built using Expo which is great, though using Expo you can´t just add any native code to your RN app without other implications like ejecting and m

[2020-04-09 17:30] amytang0 commented on #103
I believe you actually want the `onCancelled` listener, `onExit` is for non-user initiated exits.

[2020-04-09 23:34] zsweigart commented on #104
Hi @pilotocheg thanks for the feedback.  Unfortunately we do not currently support changing the color of the status bar.

[2020-04-09 23:34] #104 closed

[2020-04-14 20:18] shikharmohan opened #107 "Problem integrating Android SDK"
I've followed the steps outlined in the README and I'm seeing this error when trying to build the android app. Any ideas on how to fix it?

Could not determine the dependencies of task ':react-native-plaid-link-sdk:compileDebugAidl'.

     Required by:
         project :react-native-plaid-link-sdk

           Dependency path 'MyApp:react-native-plaid-link-sdk:unspecified' --> 'com.facebook.react:r

[2020-04-15 14:52] shikharmohan commented on #107
Fixed this by setting  in build.gradle of the react-native plaid sdk android package.

[code]

[2020-04-15 14:52] #107 closed

[2020-04-16 14:09] zsweigart commented on #99
Hi @Momics
Thanks for the idea.  The React Native Plaid Link SDK is a React Native wrapper around our native SDKs.  Because of this, it cannot be easily migrated to expo.  While @karlvd makes some interesting points, there are some complexities around some of the features in our SDK that would make building an Expo non-trivial.  A non-native SDK is not currently on our roadmap.

[2020-04-16 14:09] #99 closed

[2020-04-18 02:05] alexandrasmith00 opened #110 "Request for hooks"
I'm wondering if there's any intention to add a hook for the plaid link in this library. I can see that [react-plaid-link](https://github.com/plaid/react-plaid-link) has both component and hook based implementations. Is there any roadmap for adding that functionality to react native?

[2020-04-22 13:16] rajeshdongre opened #112 "`dismissLink` doesn't work on android."
Hi,
We have integrated `react-native-plaid-link-sdk` to use Plaid capabilities. We are using `openLink` to integrate component and it works perfectly both on iOS and Android.
But for one of our use case we need to dismiss the Plaid Link Component. To solve this use case, we are using `dismissLink`. But we figured out that `dismissLink` doesn't work on android as there is no implementation done for

[2020-04-23 00:21] amytang0 commented on #112
Hi Rajesh, we currently do not support `dismissLink` on Android, would you mind me asking what your use-case for this would be?

[2020-04-23 04:07] rajeshdongre commented on #112
Hi Amy,
First of all thanks for your quick response. So in our use case whenever user selects a specific Bank either from list or from top list, we need to dismiss the Component and start a new UI flow. The reason behind this that the bank is currently not supported by Plaid and it's one of our top most used Bank.
Hope this explains the use case that we are trying to solve for.

Thanks & Regards,

[2020-04-23 20:24] amytang0 commented on #112
Hi Rajesh,

`dismissLink` exists on iOS and Web for legacy reasons to address issues related to browser behavior, but those issues do not exist on the new Android SDK. I would suggest you to reach out to support@plaid.com about the bank you need supported, as Plaid does not support switching flows mid-way.

Sorry and good luck!

[2020-04-23 20:25] #112 closed

[2020-04-24 14:38] ashanjayasundara opened #113 "Linking Plaid link sdk with CocoaPods"
I am trying to integrate plaid link sdk with cocoapod (react-native:0.62.0) i am confusing on **Run Script** adding step because i have follow the step but widget is crashing seem i haven't properly integrate Run script step so can i have an advance support for this
![Screen Shot 2020-04-24 at 7 55 04 PM](https://user-images.githubusercontent.com/16848987/80224310-2775b380-8667-11ea-8e7e-04609442a

[2020-04-24 15:06] rajeshdongre commented on #113
@ashanjayasundara
This script is required to strip Simulator binary symbols from framework but as of Xcode 11.x it's not required. So you can skip this step.

[2020-04-24 17:59] #113 closed

[2020-04-24 18:04] ashanjayasundara opened #114 "How to load widget without user intention"
According to the document widget will open when user click on "Add Account" button so is there  any way to load plaid widget without this kind of user action. Actually i need to load plaid widget when component mount

[2020-04-27 07:26] #114 closed

[2020-04-30 08:36] jake-long-game opened #115 "Search text color is white"
Is there a way to change the search text color? currently it's white and it's quite hard to read
![Screen Shot 2020-04-30 at 1 34 43 AM](https://user-images.githubusercontent.com/45996516/80689948-ef190f80-8a82-11ea-89fd-0407e5e2cd01.png)

[2020-04-30 12:03] theonetheycallneo opened #116 "TypeError: Cannot read property 'create' of undefined at openLink"
We followed the latest README instructions:
https://github.com/plaid/react-native-plaid-link-sdk#ios

Error:

[code]

`yarn add react-native-plaid-link-sdk`

package.json
[code]

Podfile
[code]

[CP] Embed Pods Framework
[code]

Run Script
[code]

It appears the latest autolinking is not working with Typescript.  Or perhaps the pods framework is not correctly linking to the umbrella project file.

[2020-04-30 12:39] JeroenMols commented on #115
Hi @jake-long-game , thanks for filing a bug report.

Could you share some more information about your set up?

- Platform: Android/iOS/both
- OS version
- Link version
- Steps to reproduce

[2020-05-04 09:29] 7patricia opened #117 "Android app crashes after entering credentials"
Hi!

I'm having an issue using your SDK on Android.

I followed the installation instructions and I am using v3.1.2.

The SDK opens and everything works fine until I click "Continue" after logging into a bank with success. When I do that the app crashes and there's the following error on the logcat:

`2020-05-04 09:33:24.580 14026-14026/com.myapp.sandbox E/AndroidRuntime: FATAL EXCEPTION: main

[2020-05-06 18:42] JeroenMols commented on #117
Hi @7patricia, thanks for filing an issue!

We are currently able to reproduce a similar error by rapidly clicking the "open link" button in our sample application. In that case our SDK effectively gets opened twice, resulting in a double callback after successfully completing the flow. We are currently working on a fix for that and will ship that (likely) in the next release.

In the mean time, y

[2020-05-11 17:15] pragyesh12 commented on #44
I have same problem. I solve this by using this `    StatusBar.setBarStyle('dark-content');`

[2020-05-11 17:18] ShahidAli786 commented on #44
I have the same problem. I solve this by using this
`    StatusBar.setBarStyle('dark-content');`

[2020-05-11 19:39] dmoss18 commented on #116
I'm having the same issue

[2020-05-12 02:14] centsibly-admin opened #124 "Android build issues"
Hello!

I get an error while trying to run `react-native run-android` when using `"react-native-plaid-link-sdk": "3.1.2",`.

[code]

I traced this to the gradle build file in react-native-plaid-link-sdk (https://github.com/plaid/react-native-plaid-link-sdk/blob/f58ea644bdc52f9abac04aea661c57f0b5448b17/android/build.gradle#L11), and if I comment out the maven repository `artifcatory.plaid.io` I'm a

[2020-05-12 15:08] zsweigart commented on #124
Thanks for the report.  We'll remove it

[2020-05-12 17:43] dmoss18 commented on #116
Also I locked my Plaid pod version to `1.1.29` because `1.1.30` wasn't working. It archived ok but failed when trying to distribute it. Some clang error.

1.1.29 seems to work though.

[code]

[2020-05-12 21:33] zsweigart commented on #124
@centsibly-admin this will be updated in the next release https://github.com/plaid/react-native-plaid-link-sdk/pull/125

[2020-05-13 03:33] centsibly-admin commented on #124
Great! Thanks so much.

[2020-05-14 14:08] afh commented on #116
@dmoss18 Can you share the clang error?

[2020-05-15 18:54] afh commented on #98
@k11kirky , @eduardborges We just released [LinkKit version 1.1.31](https://github.com/plaid/plaid-link-ios/releases/tag/ios%2F1.1.31) which contains improvements for EU accounting linking flows, can you update LinkKit and retry?

[2020-05-20 04:12] origamih opened #128 "Update Readme, add openLink dismissLink API, add Run Script doc from here: plaid.com/docs/link/ios/#manual"
I can see the `openLink` and `dismissLink` by viewing the `index.js` file, but Readme has no where that talks about it.

Another thing is I got rejected when submit app to AppStore. Turns out there's a step needed during archiving app. And yet, Readme does not mention it.
plaid.com/docs/link/ios/#manual

[2020-05-20 12:28] itcherry opened #130 "onSuccess and onExit is not triggering on Android"
Hi!

I'm having an issue using your SDK on Android.

I followed the installation instructions and I am using v3.1.2.

The SDK opens and everything works fine until I click "Continue" after logging into a bank with success. When I do that the Plaid screen closes without `onSuccess` invocation. When listening `onEvent` it send `HANDOFF` event and according to official docs, onSuccess should be trigg

[2020-05-20 15:23] alexandrasmith00 opened #131 "Dark mode Link"
It would be helpful to have a configuration option to open the Link in dark mode, instead of the default (bright) white bg/color scheme.

[2020-05-20 15:57] itcherry commented on #130
Hi again. I think we can close this issue, cause problem was not related to the library, but to the Android configuration.
We should add the following method to the Activity that starts React Native code:
[code]
Otherwise, it will not trigger `onSuccess` and `onExit` callbacks.
And don't forget to extend this Activity from the `ReactActivity`.

Thanks!

[2020-05-20 15:57] #130 closed

[2020-05-20 19:17] zsweigart commented on #131
Hi @alexandrasmith00 Thanks for the feedback.  Dark mode is not currently on our roadmap but  we will  take it into consideration

[2020-05-20 19:17] #131 closed

[2020-05-20 19:18] zsweigart commented on #124
Hi  @centsibly-admin we have released a new  version today, please let us know if the issue has been resolved for you.

[2020-05-20 19:19] zsweigart commented on #117
Hi @7patricia we have released a new version today 3.3.0. Please let us know if it resolves your issue!

[2020-05-20 19:21] zsweigart commented on #74
Hi @ShaharyarMaroof we have released a new version today 3.3.0 with some of the improvements @JeroenMols mentioned above.  Please let us know if this resolves your issue

[2020-05-20 22:38] jayhxmo opened #132 "Lexical or Preprocessor Issue - React/RCTDefines.h files not found"
Hi,
I'm using Plaid as part of my React Native project and ran across this issue while building.

![image](https://user-images.githubusercontent.com/14072008/82504254-e8514b80-9ac8-11ea-8be0-a6b13f27dcc1.png)

It seems that there's something wrong with the reference. I've followed manual linking instructions written on README.md to add RNLinksdk to Xcode, but I'm not sure where to approach from he

[2020-05-21 02:11] centsibly-admin commented on #124
Hey @zsweigart,

Thanks for pushing the fix.

I actually found that the old version I was using started working fine (3.1.2). However when I upgrade to 3.3.0 I get this error:

[code]

[2020-05-21 03:09] enriquezc commented on #124
Hello @zsweigart ,

I'm getting the same error message trying to install my app with new version (3.3.0) on an Android simulator. This error doesn't get reproduced on an iOS simulator.

`> Task :react-native-plaid-link-sdk:compileDebugKotlin FAILED
135 actionable tasks: 2 executed, 133 up-to-date
e: /.../node_modules/react-native-plaid-link-sdk/android/src/main/java/com/plaid/PlaidModule.kt: (151,

[2020-05-21 22:42] itcherry opened #133 "Android Application crashes when the app became paused"
Hi!

I'm having an issue using your SDK on Android.
I followed the installation instructions and I am using v3.2.0.

The SDK opens and everything works fine. The crash happens when the user pauses the application (go to the main menu) or when switched to another process.

*Steps to reproduce:*
1) Open Android app with react native.
2) Launch Plaid with, for example, sandbox environment.
3) Link ba

[2020-05-28 16:58] ryanleesipes commented on #124
I'm seeing the same error as well, curious as to what a reasonable workaround would be?

[2020-05-29 05:09] gfreakcs commented on #47
We are passing ['auth', 'identity']

[2020-06-01 11:00] gfreakcs commented on #47
Just checking in if there is a fix for the iOS account filter to just show checking and savings?

[2020-06-01 15:10] itcherry commented on #133
Btw, Android SDK library version is `1.4.1`

[2020-06-02 13:49] sebastianpaz commented on #124
@enriquezc I've been using 3.1.2 and works fine in both iOS and Android.
I'm also curious whether there is a workaround we can use to pull this through.

[2020-06-02 15:45] itcherry commented on #133
The important thing that we are not using monorepo, but different repositories for Android, iOS and react native code instead. Maybe it can help somehow to detect this bug.

Also, now it is crashing just when opening Plaid screen with the same crash report:
[code]

[2020-06-02 18:44] #103 closed

[2020-06-02 20:59] amytang0 commented on #133
Hi, would you mind sharing your OKHTTP3 dependencies?

[2020-06-03 08:11] itcherry commented on #133
@amytang0 We are using following dependencies:
[code]

[2020-06-03 21:08] amytang0 commented on #133
Hi, we are working on a more flexible solution, but would it be possible to use:
[code]
for now?

[2020-06-04 10:51] itcherry commented on #133
It is still crashing with `4.6.0`. `4.7.2` version has the same. Btw, for release builds (with `minifyEnabled`) it works much more stable

[2020-06-04 20:25] zsweigart commented on #124
Hi @centsibly-admin we just released `3.3.2` which should fixe the `Unresolved reference: oauthNonce` issue

[2020-06-05 16:01] ataravati commented on #67
@sypl

I get this typescript error:

[2020-06-05 16:53] ataravati opened #137 "[Android] Exception in HostObject::get(propName:PlaidAndroid): java.lang.NoClassDefFoundError"
I'm using React Native 0.61 and I'm getting the following error in Android, when I click on "Add Account". Nothing happens. I just get this error (warning):

Here's what I have in my `app/build.gradle`:

[code]

Here's my `settings.gradle`:
[code]

And, here's in my `MainApplication.java`:

[code]

And, here's my PlaidLink component:

[code]

[2020-06-05 18:03] amytang0 commented on #137
Hi, could you retry this with  'com.plaid.link:sdk-core:1.4.1'? `2.0.0-rc1` is still a breaking-change release candidate and the RN SDK does not point to it yet

[2020-06-05 18:22] ataravati commented on #137
@amytang0 Yes, it worked with `1.4.1`. Thanks! If `2.0.0-rc1` is not supported by RN SDK, then maybe the docs should be updated.

[2020-06-05 18:22] #137 closed

[2020-06-05 19:31] softdev8 opened #139 "Plaid doesn't return metadata"
my code:
[code]
I can't receive metadata from result.
How can I get metadata like the web?

[2020-06-07 01:19] sypl commented on #67
@ataravati I've not seen that before, sorry. I presume you've tried the solutions they mention in here? https://github.com/Microsoft/TypeScript/issues/9748

[2020-06-08 05:34] ujjwalsayami opened #140 "Plaid doesn't return 'request_id' for Android, however it returns for iOS"
As we know the response for android and ios differ.
I'm not able to get/ find 'request_id for android. Is there
a way to get 'request_id' for android.
Any help would be appreciated

**Data for Android:**
{
  "link_connection_metadata": {
    "accounts": [[Object]],
    "institution_id": "ins_6",
    "institution_name": "US Bank",
    "link_session_id": "<link session ID>",
    "raw_data": {

[2020-06-08 16:29] zsweigart commented on #140
Hi @ujjwalsayami thanks for the feedback.  We noticed that the android side is returning the request id for exits but not for success.  We will update this in the next version.

[2020-06-08 16:31] zsweigart commented on #139
Hi @softdev8 could you please elaborate on your issue.

- What sdk version are you using?
- What operating system are you testing on (Android or iOS)?
- What metadata is missing?

[2020-06-08 16:39] softdev8 commented on #139
I am using the latest version and testing on iOS.

[2020-06-08 19:26] ataravati commented on #67
@sypl Yes, I did that and it worked. Thanks!

[2020-06-11 09:31] JeroenMols commented on #117
Hi @7patricia , We haven't heard back from you in more than 30 days, so we're assuming this is no longer an issue for you. Please don't hesitate to reopen/file a new issue should your problem persist.

[2020-06-11 09:31] #117 closed

[2020-06-12 14:27] JeroenMols commented on #74
@ShaharyarMaroof would you be so kind to test with the latest SDK version and see if your issue still persists?

[2020-06-12 14:29] JeroenMols commented on #115
Closing this issue as we haven't heard back in more than 30 days. Please feel free to reopen/file a new issue if your problem still persists.

[2020-06-12 14:29] #115 closed

[2020-06-12 16:54] amytang0 commented on #133
Hi sorry for the delayed response. 2.0 (which is coming out approximately next Monday)  should fix this issue.

[2020-06-16 14:48] Rick2003 opened #144 "Android crash onSuccess"
SDK version 4.0.0
Android Core: 2.0.0

![image](https://user-images.githubusercontent.com/6007020/84791492-ae3c7200-afc0-11ea-904c-365d6ffaaaf6.png)

Crash after selected the bank account and try to link.  Crashed onSuccess,  React Native app would crash and restart it self.

[2020-06-16 16:59] amytang0 commented on #144
Hi Rick,

Thanks for the bug report, this has been patched in 4.0.1

[2020-06-16 16:59] #144 closed

[2020-06-16 20:57] jd20 commented on #74
I'm using 3.3.2 of the Plaid SDK, and also seeing this same issue. It happens consistently for a handful of Android devices, not all.

[2020-06-17 19:42] zsweigart commented on #140
hi @ujjwalsayami we have reviewed the api further and were wondering what your use case was for needing the request id in `onSuccess`?

[2020-06-17 19:43] zsweigart commented on #124
Hi @centsibly-admin  we have release `4.0.1` which has an updated API, please let us know if you are still having build issues.

[2020-06-17 21:25] pira22 opened #145 "Android App crash"
Hi!
I'm facing an issue once i launch plaid with the latest SDK.
this is the stacktrace.
[code]

[2020-06-18 18:29] pira22 commented on #145
just resolve it by removing this `implementation 'com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava'

[2020-06-18 18:29] #145 closed

[2020-06-22 10:01] alexjbartlett opened #146 "Android crashes"
Hi

After adding react-native-plaid-link-sdk version 4.0.1 and following the android setup instructions our android app crashes as soon as the sdk is imported.  Stack trace below.

react-native-plaid-link-sdk version 4.0.1
com.plaid.link:sdk-core version 2.0.0

[code]

[2020-06-23 16:52] zsweigart commented on #146
Hi @alexjbartlett thanks for the report.  After some investigation we've seen that the core Facebook React Native library specifies an exact dependency for `com.squareup.okhttp3:okhttp-urlconnection:3.12.1`.  See the Facebook React Native library [here](https://github.com/facebook/react-native/blob/v0.63.0-rc.1/ReactAndroid/gradle.properties).

Our React Native sdk is a wrapper around our native a

[2020-06-23 21:21] zsweigart commented on #146
This issue appears to be the same as #74

[2020-06-23 21:21] #146 closed

[2020-06-23 21:21] zsweigart commented on #74
Hi @ShaharyarMaroof  and @jd20

After some investigation we've seen that the core Facebook React Native library specifies an exact dependency for com.squareup.okhttp3:okhttp-urlconnection:3.12.1. See the Facebook React Native library here.

Our React Native sdk is a wrapper around our native android sdk which requires com.squareup.okhttp3:okhttp-urlconnection:4.+ so it transitively depends on vers

[2020-06-24 03:09] Mperhats opened #147 "Do not call destroy() when Link is open"
I successfully integrated Link in my React app. Everything works as expected in the sandbox. When migrating into production, I entered my credentials and received the following error at the same time as onSuccess() callback.

link-initialize.js:1 Uncaught Error: Do not call destroy() when Link is open
    at Object.destroy (link-initialize.js:1)
    at Object.destroy (index.umd.js?5794:298)
    at

[2020-07-02 00:21] #124 closed

[2020-07-02 00:25] zsweigart commented on #147
Hi @Mperhats This issue seems to be with the React Library and not the React Native Library.  If so, you can post an issue there https://github.com/plaid/react-plaid-link/issues.  If not could you provide the version of the React Native Library you are using and what OS you are seeing the crash on?

[2020-07-02 04:04] steelbrain opened #151 "App crashes when onExit is not defined"
The SDK never checks if `onExit` is undefined for the Android codepath: [link](https://github.com/plaid/react-native-plaid-link-sdk/blob/a868b4f7a3b4e6759e9757221e293b5437f708d1/PlaidLink.js#L11)

It does so for iOS: [link](https://github.com/plaid/react-native-plaid-link-sdk/blob/a868b4f7a3b4e6759e9757221e293b5437f708d1/PlaidLink.js#L17)

[2020-07-03 08:04] uniquarkD opened #152 "Android crash : Unable to start activity ComponentInfo"
Hi guys,

We've been getting the following error sometimes.

RN: 0.61.5
react-native-plaid-link-sdk: 4.0.0.  Android 2.0
    implementation project(':react-native-plaid-link-sdk')
    implementation 'com.plaid.link:sdk-core:2.0.0'
    implementation "com.squareup.okhttp3:okhttp:4.2.1"
    implementation "com.squareup.okhttp3:logging-interceptor:4.2.1"
    implementation "com.squareup.okhttp3:okhtt

[2020-07-03 14:49] phliem opened #153 "Android Build failed: java.lang.RuntimeException: Duplicate class androidx.appcompat.content.res.AppCompatResources"
I am trying to upgrade from '3.0.1' to '4.0.1' and not sure what I am doing wrong, but keep on getting those build error. any help would be massively appreciated. Thanks

Fyi I am using

[code]

Here are the logs if that help
[code]

[2020-07-07 16:04] JeroenMols commented on #151
Thanks for reporting, we've addressed this issue and will make this available in a new release in the coming 1 to 2 weeks.

[2020-07-07 16:04] #151 closed

[2020-07-07 17:51] JeroenMols commented on #152
Hi @uniquarkD,

A possible explanation for this could be that our SDK isn't properly being initialized.
How are you initializing our SDK? Are you doing it in the Application class as we suggest in step two of our readme? https://github.com/plaid/react-native-plaid-link-sdk#2-add-plaidpackage-to-your-application

[2020-07-08 14:15] ereio opened #156 "App crash on iOS Auth Redirect requests"
Hey Plaid team,

We're having a hard crash on iOS and only when opening the new Chase authenticated link-out.

react-native version: 0.61.5
react-native-plaid-link-sdk version 4.0.1

Hard crash occurs right after pressing 'continue' on this screen:

<img width="180" alt="Screen Shot 2020-07-08 at 10 05 42 AM" src="https://user-images.githubusercontent.com/14258175/86928523-a6c14200-c102-11ea-874f-

[2020-07-10 15:39] JeroenMols commented on #153
Hi @phliem ,

I'm currently not yet able to reproduce your issue. Could you try updating the Android SDK to 2.0.0?
[code]

If that doesn't help, can you share the output of `./gradlew :app:dependencies`? (ran from your `android` folder)

Thank you,
Jeroen

[2020-07-10 16:02] phliem commented on #153
Hi Jeroen

Thanks for your help. I tried to update to 'com.plaid.link:sdk-core:2.0.0' but had the same error.

Here is the output you requested
https://gist.github.com/phliem/c641c82170259480fd57f553915f32ae

Thanks
Liem

[2020-07-10 16:15] JeroenMols commented on #153
In your `android/app/build.gradle` file, can you try replacing:

[code]

with

[code]

[2020-07-10 16:25] phliem commented on #153
Just tried and I am getting the same error. If that help here are all dependencies in `build.gradle`

[code]

[2020-07-10 16:39] phliem commented on #153
I just found the problem it was coming from the `resolutionStrategy`
`force 'com.android.support:appcompat-v7:27.1.1'`
Once I remove that it is compiling as expected.

Thanks for your help!

[2020-07-10 16:43] JeroenMols commented on #153
I was just looking into something similar... It seems as if you're still using the legacy `android support libraries` instead of the newer `androidx libraries`. Normally the Android Gradle plugin would use a tool called `jettifier` to convert the old libraries to the new ones during build. Maybe that's causing a duplicate dependency on your path... 🤔

More info about that here: https://developer.a

[2020-07-10 16:43] #153 closed

[2020-07-13 13:51] eduardborges opened #157 "Invalid Signature error after upgrading to React Native 0.62 / 0.63"
When I try to validate the app for distribution with a newer React Native version than 0.61.5 I get the following error:

Invalid Signature. Code object is not signed at all. The file at path [{appName}.app/Frameworks/LinkKit.framework/prepare_for_distribution.sh] is not properly signed. Make sure you have signed your application with a distribution certificate, not an ad hoc certificate or a deve

[2020-07-14 14:15] ereio commented on #156
Seems something was changed remotely as this bug is no longer present in all environments without any updates. Thanks!

[2020-07-14 14:15] #156 closed

[2020-07-14 14:56] ereio opened #158 "Broken linking for third-party integrations like Chase"
Hey Plaid team,

Plaid is no longer crashing when linking out to third-party auth integrations (like Chase), but the flow does get stuck after completing the Chase authentication flow and returning from the webview. The second to last screen briefly tells the user to 'close this window' before navigating to the plaid loading indicator which indefinitely loads.

<img width="180" alt="Screen Shot 20

[2020-07-14 15:11] zsweigart commented on #74
Closing due to inactivity, please reopen if you still have the issue when upgrading okhttp3 and the link sdk

[2020-07-14 15:11] #74 closed

[2020-07-14 15:12] zsweigart commented on #55
Hi @vafada this has been updated with version 4.0.0

[2020-07-14 15:12] #55 closed

[2020-07-14 17:25] afh commented on #157
Thanks for reporting @eduardborges it seems the following step as mentioned in the README.md is missing in your integration:

Can you verify that you have setup the **Prepare for Distribution** Build Phase correctly?

[2020-07-14 23:13] eduardborges commented on #157
That solved the problem. Thanks

[2020-07-14 23:13] #157 closed

[2020-07-15 09:11] afh commented on #157
Glad to hear that this solved the issue for you; thanks for using Plaid!

[2020-07-16 05:31] jacobparish commented on #47
Will this be fixed anytime soon? Even in the most recent release, the formats are still different, although they differ from what was posted in this issue (in particular, android is now has just a "metadata" property instead of "link_connection_metadata")

[2020-07-22 09:22] JeroenMols commented on #152
Hi @uniquarkD ,

We've found a potential root cause for this issue and will be putting out a new release to address this.
The issue we fixed is that our SDK wouldn't be properly reinitialized after process death, causing an error similar to yours.

I'll let you know when the fix is out, hopefully that will also address your issue.

Warm regards,
Jeroen

[2020-07-22 09:24] JeroenMols commented on #140
@ujjwalsayami could you please elaborate on your use case? That will enable us to make the right decision in our API design. Thank you

[2020-07-22 09:37] ujjwalsayami commented on #140
yeah sure, I needed request_id param in Android side because `request_id` param is used to create support ticket but since android provides `link_session_id` I don't think we need to have request_id param for android.
As Plaid doc says `link_session_id` says it can be used to create support ticket.

[2020-07-22 15:25] amytang0 commented on #133
Closing this issue after 30 days

[2020-07-22 15:25] #133 closed

[2020-07-24 12:56] JeroenMols commented on #140
Awesome, thanks for your update! Closing this ticket as no longer relevant.

[2020-07-24 12:56] #140 closed

[2020-07-24 16:50] #158 closed

[2020-07-24 16:51] ereio commented on #158
Missed the part in the Readme where the additional props where required for OAuth for iOS only

[2020-07-24 17:17] phliem opened #164 "Android crash: java.lang.IllegalStateException"
Hi

I am trying to upgrade from plaid 3.0.1 to 4.0.1 and getting crashes on android only. It works as expected on iOS with 4.0.1. With the 3.0.1 both iOS and Android works. I also tried 3.3.2 but getting the same crash.

Thanks for your help!

**My config:**
RN: 0.61.5
react-native-plaid-link-sdk: 4.0.1
implementation project(':react-native-plaid-link-sdk')
implementation 'com.plaid.link:sdk-core:

[2020-07-27 17:03] nchase commented on #152
Hi – just FYI, we're experiencing the same issue.

[2020-07-28 08:22] Vadim7394 opened #165 "iOS Crash: App crashing after answer question of reCaptcha"
Error:
[code]
Stacktrace:
[code]

[2020-07-28 08:29] afh commented on #165
Hello @Vadim7394, which version of LinkKit (e.g. the Plaid CocoaPod) is being used?
An issue regarding crashes during recaptcha was addressed in [LinkKit version 1.1.33](https://github.com/plaid/plaid-link-ios/releases/tag/ios%2F1.1.33)

[2020-07-28 08:59] JeroenMols commented on #152
Hi @uniquarkD ,

We've just released a new SDK version, could you try upgrading and let us know whether you still see the errors or not?

- Plaid RN SDK version 5.0.0
- Plaid Android SDK version 2.1.2

Many thanks,
Jeroen

[2020-07-28 09:14] JeroenMols commented on #164
Hi @phliem ,

Thanks for reporting your issue, could you please provide some more information for us to debug?

- Steps to reproduce
- Does this only happen after an application upgrade from 3.0.1 to 4.0.1 or also after removing the app and reinstalling?
- A longer logcat excerpt (this one doesn't show the message of the exception for instance)
- Is this reproducible on Plaid SDK 5.0.0 and Android

[2020-07-29 13:27] Vadim7394 commented on #165
Hello @afh, all work after update, thanks!

[2020-07-29 15:09] nchase opened #166 "Android crash in com.plaid.PlaidModule.onActivityResult"
Hi folks – we're seeing this crash with `react-native-plaid-link-sdk` v4.0.1

[code]

[2020-07-29 15:11] nchase commented on #152
@JeroenMols: what is different between this new version and 4.x.x? (Curious if there are any breaking changes to the API)

[2020-07-31 15:39] #165 closed

[2020-07-31 16:29] phliem commented on #164
Hi Jeroen,

In the end, I managed to fix the crashes. Just adding some details here in case someone else encounters the error.

The crashes happened on 3.1.2, 3.3.2, 4.0.1 on android only
But before on 3.0.1 everything works as expected.

Reinstalling the app doesn't change anything. As soon as the package is upgraded to a version after 3.0.1 I will have the crashes every times.

I manage to add s

[2020-08-04 02:56] luke-knol commented on #153
I am running into this same error but my resolution strategy does only contains a single config:    `force 'androidx.annotation:annotation:1.0.0'` commenting out does not yield any different results.

When i run `./gradlew :app:dependencies` i get the follow error:
[code]
@JeroenMols any suggestions?  I have also tried:

[2020-08-04 22:58] zsweigart commented on #166
hi @nchase Thanks for the report.  Can you provide more information on the crash:

- What configuration are you using (omit your keys)
- What are the steps to reproduce?
- What device(s) does this occur on?
- What OS version(s)?

Thanks.

[2020-08-05 13:52] FoundersApproach opened #167 "In Android, There is an issue while app become foreground from background"
Hello, I am facing an issue in Android.

Plaid view automatically dismissed once user put app background and come back to foreground.
Please see attached video.

Thank you.
[Plaid_Android_background_forground_issue.mov.zip](https://github.com/plaid/react-native-plaid-link-sdk/files/5028825/Plaid_Android_background_forground_issue.mov.zip)

[2020-08-06 02:27] amytang0 commented on #167
Hi, to double-check, are you using Do Not Keep Activities mode?

[2020-08-06 19:59] superhero2007 opened #168 "iOS is working but in Android, I am getting network error."
- package.json
"react-native": "0.61.4",
"react-native-plaid-link-sdk": "3.1.2",

- app/build.gradle
implementation project(':react-native-plaid-link-sdk')
implementation 'com.plaid.link:sdk-core:1.0.0'

- Error
 {"display_message": "Internal exception occurred", "error_code": "499", "error_message": "[com.plaid.link.networking.NetworkLostWorker.a(SourceFile:3), com.plaid.link.networking.NetworkLo

[2020-08-06 20:03] superhero2007 commented on #168
- android/settings.gradle
include ':react-native-plaid-link-sdk'
project(':react-native-plaid-link-sdk').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-plaid-link-sdk/android')

-MainApplication.java

import com.plaid.PlaidPackage;

 @Override
        protected List<ReactPackage> getPackages() {
          @SuppressWarnings("UnnecessaryLocalVariable")
          List<Rea

[2020-08-07 05:24] venkat-waran opened #169 "Android: android package name must be configured in the developer dashboard"
Hi,

I am getting an error in the Android Platform but react-native-plaid-link-sdk is working fine in IOS

Error:

**{"metadata":{},"error":{"error_type":"INVALID_REQUEST","error_message":"Android package name must be configured in the developer dashboard. See https://plaid.com/docs/link/android/#register-app-id","error_code":"INVALID_FIELD","display_message":""}}**

**But I have configured the an

[2020-08-07 08:58] FoundersApproach commented on #167
Hello Thanks for your replay.

I am not sure about Do Not Keep Activities mode. Would you please guide me about how to disable it to keep Plaid active even if user go background and come again foreground.

Thank you.

[2020-08-10 09:47] FoundersApproach commented on #167
Hello @amytang0 Would please help me ?
Thank you.

[2020-08-10 10:20] FoundersApproach commented on #167
I fix issue by adding `android:launchMode="singleTop"` to my main Activity in android manifest file.
Thank you.

[2020-08-10 10:20] #167 closed

[2020-08-14 17:53] nchase commented on #166
Hi @zsweigart:

1. What part of our config are you interested in? I can share if you give more specifics.
2. It's currently unclear how to reproduce this. This is happening for some of our users, but we haven't had luck reproducing it ourselves, yet.
3. It's happening across a variety of Android devices (e.g. SM-G970U and Pixel)
4. Android 9 and 10

One thing that might be particularly interesting

[2020-08-17 18:23] zsweigart commented on #166
Hi @nchase thanks for all the info for 1. the full configuration from the `<PlaidLink` component would be helpful.

One thing that would be worth checking is if your callback is being called multiple times.  You may have to refresh the callback - https://github.com/facebook/react-native/issues/13595

[2020-08-17 22:23] zsweigart commented on #169
Hi @venkat-waran
Your package name is found in your AndroidManifest file
[code]

Then you'll want to follow these instructions to set that value on your dashboard
https://plaid.com/docs/link/android/#register-app-id

It'll look something like this
<img width="1072" alt="Screen Shot 2020-08-17 at 3 22 12 PM" src="https://user-images.githubusercontent.com/1391816/90449994-3537c480-e0ae-11ea-8cec-c3b

[2020-08-17 22:26] zsweigart commented on #168
Hi @superhero2007
This error is returned if your device does not have internet connection when opening link.  Can you please check that your device has network connectivity? Also can you check in your AndroidManifest that you have an internet permission line
[code]

Finally, it looks like you're on an old version, we recommend that you update to `"react-native-plaid-link-sdk": "5.0.0"` and `implem

[2020-08-17 22:35] #164 closed

[2020-08-17 22:39] zsweigart commented on #152
Hi @nchase the main change is that `LinkConfiguration` with a `publicKey` is now deprecated in favor of LinkTokens.  See this article for details on the transition https://plaid.com/docs/link/transition-guide/

So 2.1.0+ is only compatible with 5.0.0+

[2020-08-17 22:39] #147 closed

[2020-08-18 17:40] zsweigart commented on #166
Hi @nchase are you using 4.0.1 with android 2.1.0+? If so you'll need to use 5.0.0

We'll be adding a compatibility table to make this clearer. https://github.com/plaid/react-native-plaid-link-sdk/pull/170

[2020-08-23 18:06] nchase commented on #166
@zsweigart yeah, looks like we are using 4.0.1 alongside of the latest android SDK. We'll upgrade.

Additionally we'll check to see if we're calling `onActivityResult` ourselves multiple times, somewhere.

Thanks!

[2020-08-24 23:00] southerneer opened #171 "Android crashes with `java.lang.IllegalStateException`"
Hi, after setting up the Android integration per the docs I'm seeing crashes on Android as soon as I try to connect to Plaid. I made sure that my Android package names are registered in the dev console (as mentioned in https://github.com/plaid/react-native-plaid-link-sdk/issues/164). Compatibility-wise I'm using the recommendations on the chart in the [pending PR](https://github.com/plaid/react-na

[2020-08-25 11:12] tmaciej opened #172 "Plaid link doesn't open on Android"
Hello,

I have trouble with integrating this library on Android. I followed all steps from the README (edited all necessary files, added package id in Plaid dashboard) yet nothing happens when I press the link, no errors or other messages are shown either in logcat or React Native debugger. When I've added `onPress` callback to the component props I can see that the event / callback is called. The

[2020-08-26 14:38] zsweigart commented on #172
Hi @tmaciej could you please post your `MainApplication`'s `getPackages()` method and your `PlaidLink` configuration (don't forget to omit your keys).  Thanks

[2020-08-26 14:53] tmaciej commented on #172
@zsweigart

Here is `getPackages` method:

[code]

and here's my `PlaidLink` configuration:

[code]

`webhook` and `publicKey` values comes from our API but are valid (work in case of iOS)

[2020-08-26 18:51] zsweigart commented on #172
Hi @tmaciej it looks like you  are missing `clientName` which is a required property https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.js#L79-L123

[2020-08-26 23:01] amytang0 commented on #171
Hi, is the crashing occurring when you initially open Plaid or when you are receiving a successful result (i.e. user connected to their bank)?

[2020-08-27 01:46] southerneer commented on #171
Hi Amy, it crashes initially when opening Plaid

[2020-08-27 13:58] tmaciej commented on #172
@zsweigart That fixed it. Thank you.

I was confused because I was looking exactly at the piece of code you pasted and at this line 86 it says https://github.com/plaid/react-native-plaid-link-sdk/blob/5f842f92dda605648e2a52bbd51dbf77810a500d/PlaidLink.js#L86

and prop `clientName` is below that line. Also it's not marked as required.

I noticed that using `publicKey`  instead of link token is depr

[2020-08-27 13:58] #172 closed

[2020-08-27 16:49] amytang0 commented on #171
A couple of preliminary diagnostics:
Can you post the configuration you're using (with your actual `public_key` replaced with {placeholder_key})?
Can you also verify that you've whitelisted your package name on the developer dashboard?

Thank you!
Amy

[2020-09-02 15:27] tbadlov commented on #47
@wkiefer any update on this? It is quite problematic for us to move to your supported SDK given that updates Chase and Wells Fargo are imposing on us to leverage OAuth verification. Any update when will this be addressed?

[2020-09-04 01:42] nchase opened #175 "Upgrade notes from 4.x to 5.x"
Looks like the [upgrade notes](https://github.com/plaid/react-native-plaid-link-sdk/tree/master/upgrade_notes) for major versions don't include any path from 4.x to 5.x – are we missing something?

[2020-09-04 10:29] SandroMachado commented on #48
@zsweigart any updates?

[2020-09-04 17:50] amytang0 commented on #48
Hi Sandro,
We currently don't have the ability to open Plaid Link without the component on our roadmap.
Can I ask why you all would want to? It would help us determine whether to add to our timelines.

Thanks!
Amy

[2020-09-07 11:49] SandroMachado commented on #48
Hi @amytang0,

IMO opening without a component (using an imperative API) should be the default behaviour on React Native. On mobile devices the screens are small, what most of the developers that integrate plaid should do is open the plaid component in a new screen when the user presses a button. At least we are doing that. To do that we need a imperative API otherwise the users will se a renderin

[2020-09-07 20:03] gb9box opened #176 "Updating Items via Plaid Link"
Hello, I think there is an issue for the [Updating Items via Plaid Link](https://support.plaid.com/hc/en-us/articles/360010529653-Updating-Items-via-Plaid-Link) in [update mode](https://plaid.com/docs/#updating-items-via-link).

They require `token` field only for either create or update mode in `Plaid.create` function. Your code is working as well for the create Plaid link. But there is an issue

[2020-09-08 16:54] amytang0 commented on #176
Hi, what issue are you running into with update mode?
[Link Token](https://plaid.com/docs/#create-link-token) is our new one-time key that will replace `public_key`, which will specifically have the prefix `link`.
The public_token you mentioned is distinct from link_token.

[2020-09-08 17:03] gb9box commented on #176
Hi @amytang0
They require `token` value as a `public_token` instead of `link_token` for the `update mode`.
Check this one [update mode](https://plaid.com/docs/#updating-items-via-link).

So, for the update mode, the `token` value would be `public-xxx-xxx`.

[2020-09-08 17:26] amytang0 commented on #175
Hi nchase, thanks for the flag!
We are working on those docs now, but in the meantime, the main difference between 4.x to 5.x is the one-time [Link token](https://plaid.com/docs/upgrade-to-link-tokens/) support.

[2020-09-08 17:33] amytang0 commented on #176
Yes, is the behavior not working as expected though? On my end, I am able to update items as usual by passing `token = "public-sandbox-<X>"`

[2020-09-08 17:47] gb9box commented on #176
No, it's not working as expected with the current codebase now.
And the `public_token` value would be one of three values
`public-sandbox-XXX`, `public-development-XXX`, `public-production-XXX`.

[2020-09-08 18:37] amytang0 commented on #176
What is the behavior you are seeing? (Video would be appreciated)

On Tue, Sep 8, 2020 at 10:47 AM gb9box <notifications@github.com> wrote:

[2020-09-08 18:56] gb9box commented on #176
Your codebase is working as well for the `create-link-token`.
But, there is an issue when I trying to take `update mode` as I mentioned.

[code]
In this case, it gives me an error as following:
![IMG_0111](https://user-images.githubusercontent.com/48032825/92516084-53ac5e00-f21d-11ea-80d0-44c8160f196c.png)

In my debugging your code, I found the issue in the line 104 from `RNLinksdk.m` file. (Same

[2020-09-10 18:55] amytang0 commented on #176
Hi, thanks for the flag. v5.0.2 should support update mode, let me know if you have any issues!

[2020-09-10 20:03] gb9box commented on #176
Looks good. I'm going to close this issue.
Thank you!

[2020-09-10 20:03] #176 closed

[2020-09-11 19:26] zsweigart commented on #166
Closing this as it seems to be resolved.  Please reopen if the issue persists.

[2020-09-11 19:26] #166 closed

[2020-09-11 19:26] zsweigart commented on #168
Closing this as it seems to be resolved.  Please reopen if the issue persists.

[2020-09-11 19:26] #168 closed

[2020-09-11 19:26] zsweigart commented on #169
Closing this as it seems to be resolved.  Please reopen if the issue persists.

[2020-09-11 19:26] #169 closed

[2020-09-11 19:30] zsweigart commented on #175
PR up for adding a note https://github.com/plaid/react-native-plaid-link-sdk/pull/180/files

[2020-09-11 19:31] #175 closed

[2020-09-11 19:52] zsweigart commented on #152
Closing this as it seems to be resolved.  Please reopen if the issue persists.

[2020-09-11 19:52] #152 closed

[2020-09-11 19:53] zsweigart commented on #47
Hi @tbadlov we will be releasing the next version of our native SDKs on 9/21.  The react native update will follow on 9/28 which will unify the results and have full support for OAuth verification.  Thank you for your patience

[2020-09-11 19:54] zsweigart commented on #18
Closing this as duplicate of https://github.com/plaid/react-native-plaid-link-sdk/issues/47

[2020-09-11 19:54] #18 closed

[2020-09-17 07:04] realabbas commented on #37
Hey I am facing this too. Any update? how to solve this

[2020-09-17 08:27] Vadim7394 opened #183 "Google reCaptcha puzzle is not completely visible"
Phone: Samsung Galaxy A10 with a 6.2-inch screen

![image](https://user-images.githubusercontent.com/19637034/93442578-1b71e300-f8e1-11ea-82ab-590b92734118.png)
![image](https://user-images.githubusercontent.com/19637034/93442716-262c7800-f8e1-11ea-8f67-1f42e436adec.png)

[2020-09-18 07:27] makx commented on #37
i can't tell you if it is solved. i left the project and i couldn't figure out this.

[2020-09-22 05:59] SubhashisPK opened #186 "Showing blank screen on iOS 14"
# The problem

Plaid SDK for React Native iOS is working fine for below iOS 14, but on iOS 14 it's showing blank screen.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 5.0.2                |
| ReactNative Version     |  0.61.5                |
| Occurs on Android             | no                |
| Occurs on iOS     | yes

[2020-09-22 12:02] SubhashisPK commented on #186
The issue was not related to iOS 14.

[2020-09-22 12:02] #186 closed

[2020-09-25 23:58] skheirandish opened #187 "When I try to make a release build i get an error"
I have setup this library for a react-native project. I used Cocoapods to install this library and I added the [script](https://plaid.com/docs/link/ios/#add-run-script) to my build scripts. The script runs because when Fastlane fails I can go in the logs and see the logs from script there.

This is the error I get. Any help is appreciated:
[code]

Also I needed to change the path in your docs to t

[2020-09-28 09:03] JeroenMols commented on #183
Hi @Vadim7394  thanks for this report. The current iteration of the SDK uses a webview to display Link. We have run into several issues with recaptcha being cutoff in webviews and we have opened an issue on the Google recaptcha project google/recaptcha#334.

We are closing it on this project as this seems to be a Google recaptcha issue. Once google/recaptcha#334 is addressed, we will upgrade our b

[2020-09-28 09:03] #183 closed

[2020-09-28 09:37] JeroenMols commented on #171
We haven't heard back from you in a month, so we're assuming you've already found a solution.
Please don't hesitate to open another issue should that not be the case. Thank you.

[2020-09-28 09:37] #171 closed

[2020-09-29 15:48] ereio commented on #47
@zsweigart looking forward to this release. We're waiting to integrate on both iOS and Android until the payloads are the same. Any updates on progress?

[2020-09-30 14:17] Raymond-Cox opened #190 "iOS - Running Pod install removes build step "[CP] Embed Pods Frameworks""
# The problem
Similar problem to https://github.com/plaid/react-native-plaid-link-sdk/issues/4
I read through and tried every suggestion from that issue, seems somewhat unrelated.
I've used this library for months now without any problem or changes. Randomly now I'm running into the `LinkKit/LinkKit.h file not found` issue.

# Environment

|                        |  |
| ------------------------|

[2020-10-01 15:11] prometheas opened #192 "Request to update peer package's peer dependency indications"
I've just installed the package to my project that builds against `react-native@0.63.2` and received the following npm warning:

[code]

I may be able to carve out bandwidth in the next week or two to attempt a PR, but I wanted to call your attention to it, as `react-native` has advanced by two releases since this package's peer dependencies have been set.

[2020-10-01 16:24] juanvargasagama opened #193 "Problem with RNLinksdk.o when compiling on iOS"
Hi there,

We are trying to implement Plaid using the React Native SDK on iOS but we are having several troubles. We followed the instructions, modified the Podfile, saw different threads in here and we could not find any clue.

This is the content of my Podfile:

[code]

And after digging and resolving previous issues, I am getting this error:

_CompileC /Users/juanvargas/Library/Developer/Xcode/

[2020-10-01 18:54] prometheas opened #198 "Bad prop type declaration and documentation for PlaidLink component's `component` prop"
# The problem

The component's documentation and prop types declarations violently disagree with its implementation. When I use the component as documented in the `README`, I get the following warning in my console:

[code]

Given the following implementation in [`PlaidLink.js`](https://github.com/plaid/react-native-plaid-link-sdk/blob/3c774e23e7102a7dd5671d2a0ee8c07edbc4bc51/PlaidLink.js#L105):

[2020-10-01 19:33] prometheas commented on #198
**UPDATE:** I modified this issue's report after noticing that the component does define `TouchableOpacity` as the default component type to use, in the absence of an explicit value 😅

[2020-10-02 15:21] a613 opened #200 "Android: Link button click results in consent screen flashing open then closed"
# The problem

Our team is working on migration to React Native Plaid SDK and we're experiencing a problem on Android. When we launch the plaid flow from Android, there is a brief flash and then the screen closes.

I have modified our files as described in Getting Started at https://github.com/plaid/react-native-plaid-link-sdk. On iOS 14 the Plaid SDK integration is functioning fine. On Android, t

[2020-10-02 15:31] a613 opened #201 "Link flow (consent, success screens) configuration not applied"
# The problem

On the consent screen (and success screen) we aren't seeing the copy that we've configured in the Plaid Dashboard. It also isn't reflecting the `clientName` parameter (tried and it has no effect). How do we set the name that is displayed to the user on the consent screen and the success screen?

Also, in the Plaid Dashboard, the correct copy on the consent screen and other screens *

[2020-10-05 09:48] all9lives commented on #190
The same thing is happening for us.

We're upgrading Plaid Link to support link tokens, and running into the `LinkKit/LinkKit.h` file not found issue too.

- Plaid Pod: `2.0.1`
- react-native-plaid-link-sdk: `^6.0.2-rc2`,

I've tried downgrading to `2.0.1` and `1.1.37` without any luck and tried `react-native-plaid-link-sdk`: `6.0.0`.

Interestingly, our `project.pbxproj` diff doesn't remove `[CP]

[2020-10-05 18:05] tadasv opened #207 "openLink does not call `onSuccess` callback after successful link."
# The problem

openLink does not call onSuccess callback after successfully linking an account.

# Environment

Plaid React Native SDK: 6.0.1
Plaid Link: 2.0.1

Tested on iOS.

# Steps to Reproduce

For example:
[code]

# Expected Result
I'd expect `onSuccess` callback to get called after successful link.

[2020-10-05 18:29] prometheas opened #208 "Recommend adding react-native-plaid-linkkit as peer (or primary) dependency"
Given that it's necessary to install [`react-native-plaid-linkkit`](https://www.npmjs.com/package/react-native-plaid-linkkit) for this package to work (according to support conversation in case ID [#221857](https://dashboard.plaid.com/support/case/221857)), I would recommend adding it either as a direct dependency of this project (in `package.json`), or at least a peer dependency.

Thoughts?

[2020-10-06 13:08] proIT324 opened #212 "Plaid is stuck with loading screen"
I wrote a script that successfully generates link_token. Using this link_token, I'm gonna open a link in react native app. However, Plaid doesn't open a link and it stays stuck with loading screen. My code is as below:

[code]

Logs in Xcode:
![Screen Shot 2020-10-06 at 9 10 08 AM](https://user-images.githubusercontent.com/39212059/95205972-c560d300-07ee-11eb-9a2a-172c4cb75e97.png)

How can I reso

[2020-10-06 15:33] amytang0 commented on #212
Hi, I'm just going to double-check some base assumptions. What version are you on? What parameters are on your link/token/create call (e.g. what products/redirectUri are you providing)? Are you trying to open an external European bank's website?

Thanks,
Amy

[2020-10-06 15:37] proIT324 commented on #212
react-native-plaid-link-sdk@6.0.2-rc2

link/token/create call
{
  user: {
    client_user_id
  },
  client_name,
  products,
  country_codes,
  webhook,
  language
}

I don't try to open any external EU bank website.

[2020-10-06 16:32] amytang0 commented on #212
So based on the events you sent me, it looks like you are trying to encounter an EU bank.

You'll also need to provide a redirectUri in the link/token/create call https://plaid.com/docs/link/oauth/#redirect-uri-configuration

[2020-10-06 16:34] proIT324 commented on #212
It must be a universal uri for ios app, isn't it?

[2020-10-06 18:59] amytang0 commented on #212
"Your redirect URI must be also registered as an app link to enable app2app authentication flows. You will need to configure an Apple App Association File. "
https://plaid.com/docs/link/oauth/#redirect-uri-configuration

[2020-10-06 22:13] jake-long-game commented on #4
I have this same issue, getting `'LinkKit/LinkKit.h' file not found`and my Pod folder looks a bit different than yours.
@whockey

<img width="286" alt="Screen Shot 2020-10-06 at 3 07 41 PM" src="https://user-images.githubusercontent.com/45996516/95265292-c4777380-07e5-11eb-82fa-22819d833e84.png">

Note: I have not use this react native plaid link library before. Until now, I have been doing plaid

[2020-10-06 22:37] jake-long-game commented on #190
I made a comment for the other PR, but it's closed, so I'll move it here

https://github.com/plaid/react-native-plaid-link-sdk/issues/4#issuecomment-704581105

[2020-10-07 00:17] all9lives commented on #208
This seems like a no-brainer and a simple way to include `LinkKit` as part of a project. At the very least the docs should be updated to specify that another dependency needs to be added.

[2020-10-07 00:34] amytang0 commented on #207
Hi, this is fixed in 6.0.2-rc3. Finalized 6.0.2 is coming out this week

[2020-10-07 00:38] amytang0 commented on #201
Can you post the parameters you are adding to your `link/token/create` call to grab the token?
You need to add `link_customization_name` as a parameter to ensure you are getting your customization.
https://plaid.com/docs/api/tokens/#linktokencreate

[2020-10-07 00:41] amytang0 commented on #200
I see you are using `com.plaid.link:sdk-core | 2.2.0, 3.0.0, 3.0.1`

React Native 5.x does not work with `sdk-core 3.x`
https://plaid.com/docs/link/react-native/#version-compatibiltiy

[2020-10-07 00:46] a613 commented on #200
I've also used 2.x.

[2020-10-07 00:49] a613 commented on #201
Ah, we don't use that parameter as it's optional and our sole customization is the default one. Will try to include it on the request & see if it helps!

[2020-10-07 01:56] amytang0 commented on #208
Hi, sorry our support team pointed you to that dependency! That dependency is not needed.

[2020-10-07 01:56] #208 closed

[2020-10-07 11:51] prometheas commented on #208
Thanks for clarifying, @amytang0. No worries; I’ll go ahead and remove it from my project.

[2020-10-07 14:13] tadasv commented on #207
@amytang0 thanks for the response. I tried 6.0.2-rc3 and it fixes the onSuccess callback issue. However, I noticed another problem with the code. Here's an example:

[code]

When I run this code, I receive a stacktrace in `onExit`:

[code]

That line is not very readable, but look at the very end of it. The token that's used here is public token (`public` prefix). We have this flow in our app for

[2020-10-07 14:54] a613 commented on #201
It doesn't work. We specified `default` customization name when creating the link token, and the resulting consent screen does not match our `default` customization.

We also tried creating a new customization called `staging` but when we specified that when creating the link token, the resulting consent screen crashes! With no logs.

[2020-10-07 15:19] tadasv commented on #207
Seems like updating the logic to use link tokens instead of public token in the update flow fixed the issue.

[2020-10-07 15:26] #207 closed

[2020-10-07 16:44] amytang0 commented on #201
Interesting, would you mind telling me if this repros on both Android and iOS? Thanks!

[2020-10-07 16:48] amytang0 commented on #200
I see you've added an `account` prop, could you remove that?
All parameters except for `token`, `onSuccess`, and `onExit` will be ignored if you're using a `link-token`

[2020-10-07 16:49] a613 commented on #201
Yes, customization is not applied on both iOS and Android

[2020-10-07 17:07] a613 commented on #200
removed. consent screen still crashes on Android

interesting, done. But `env` is not a valid param on the call to `link/token/create`, so that one is still needed on the frontend? Anyhow, tried with and without `env`, and no luck - screen still crashes.

Same info as in ticket description but with actual code:

[code]

[code]

[2020-10-07 17:58] amytang0 commented on #200
Is your Android package name configured in the developer dashboard? See https://plaid.com/docs/link/android/#register-your-app-id"
I also want to check that you're looking at the exit object returned in `onExit`, we often return server errors through that object rather than throwing the error.

env is encoded in your client_secret in the link/token/create call .

[2020-10-07 18:04] a613 commented on #200
yep, all 3 of our package names (dev, qa, and release) are listed in the dashboard:

![Image from iOS](https://user-images.githubusercontent.com/5733420/95369734-cdc81500-08a5-11eb-8812-bc2743a194ed.png)

We weren't, no. Will try logging that function's argument and edit this comment with the results.

awesome, then I'll remove it entirely

[2020-10-07 18:09] amytang0 commented on #200
If possible, could you add the parameters you are adding to your link/token/create call?
[code]

Can I check that you're passing `android_package_name` as a query parameter?

[2020-10-07 18:17] a613 commented on #200
No we aren't. How is our backend supposed to know the package name? That's irrelevant for a backend. That's a bit excessive if it turns out to be the issue - are there plans to drop that param as it's not important?

[2020-10-07 18:32] amytang0 commented on #200
So we generate the `redirectUri` from the `android_package_name` for OAuth institutions. To keep things secure (and not returning sensitive bank credentials to an arbitrary app), we require this `android_package_name`.

Assuming that you're calling the backend from the client, you could pass the caller's package_name to the backend, which could then pass it to the LTC call.

[2020-10-07 18:55] a613 commented on #200
Setting `android_package_name` on the call to create a link token results in an error saying that the package name has to be added to the dashboard.

It is most certainly added in our dashboard. We have checked half a dozen times, and even tried removing and re-adding it.

[2020-10-07 19:25] EQuimper commented on #186
@SubhashisPK what was the issue ? I have the same problem right now

[2020-10-07 19:33] amytang0 commented on #200
First of all, thanks for taking the time to debug and go through the steps!

This definitely sounds like something is happening with our backend. I'll check in with our team, but in the meantime, if this is a blocker, I would suggest using the deprecated public_key implementation. Sorry about that, and I will keep you posted

[2020-10-07 20:03] #198 closed

[2020-10-07 20:11] amytang0 commented on #200
Sanity-checking: I just want to double-check that you pressed "Save changes" on the Android package names?

[2020-10-07 20:13] a613 commented on #200
I didn't do it personally but I assume yes because the package names are displayed when we load that page in the dashboard.

bet that's the issue. what did we miss?

[2020-10-07 20:22] amytang0 commented on #200
Can you share one of the Android package names? We can find the client_id that is actually associated with them

[2020-10-07 20:23] a613 commented on #200
I grabbed the latest client_id from the dashboard and now the /link/token/create call is successful! 👍

Now to test that the Android crash is also resolved...

[2020-10-07 20:25] amytang0 commented on #200
Woohoo, hopefully the client_id also fixes the https://github.com/plaid/react-native-plaid-link-sdk/issues/201 issue. I also didn't see customizations associated with the other client_id

[2020-10-07 20:35] a613 commented on #200
Well, lots to report.

Using the new client_id:

* android works, no crash, regardless of whether we include `android_package_name` in the link token call (very surprising)
* iOS works IF `android_package_name` NOT specified
* iOS crashes IF `android_package_name` IS specified

So it looks like

1. our client_id was somehow very very broken and/or old
1. iOS is too sensitive to a link token genera

[2020-10-07 20:40] amytang0 commented on #200
Nice, thanks for the thorough report! We will keep an eye out on the `android_package_name` parameter breaking iOS (I personally haven't seen issues while developing RN 6.0+ but will update the docs if 5.x displays this issue consistently)

I am closing this out and will address if this fixes your customization issue as well on the other Github issue.

[2020-10-07 20:40] #200 closed

[2020-10-07 20:41] amytang0 commented on #201
Hi, does switching to the new client_id show your default customization now?

[2020-10-07 21:44] amytang0 commented on #193
Hi, if you're using RN 6.0.1+, you'll need to [update to at least 11.0](https://plaid.com/docs/link/react-native/react-native-v6-migration/#update-ios-versions)
`platform :ios, '11.0'`

[2020-10-07 23:07] ealmiladi opened #216 "LinkKit.h not found"
EDIT: **PLEASE remove all obsolete instructions from the readme**. Additionally, please include that Xcode 12 or Xcode > 11.5 is required in order for react-native-plaid-sdk to work, particularly as it relates to linking the LinkKit.

Continuation of https://github.com/plaid/react-native-plaid-link-sdk/issues/190

[2020-10-07 23:42] ealmiladi commented on #190
@all9lives @jake-long-game Are you on Xcode 12? Ran into this until I upgraded to xcode 12.

[2020-10-08 01:09] all9lives commented on #190
@ealmiladi I'm running xcode `12.0.1`.

I'm making some progress after upgrading cocoa pods from `1.8.4` to `1.9.3`but was still getting issues.

### Related LinkKit Error

[code]

This is coming from the **Prepare for distribution** build phase.
![jtlyapp xcodeproj 2020-10-08 11-36-10](https://user-images.githubusercontent.com/1470953/95402167-bbf47980-095a-11eb-8a06-38969d32784e.jpg)

### Some s

[2020-10-08 01:35] ealmiladi commented on #216
The same project/same repo/same branch builds and runs well on one Macbook, but not the other (same LinkKit issue). Insane.

[2020-10-08 03:04] #216 closed

[2020-10-08 15:08] #193 closed

[2020-10-09 02:19] ealmiladi commented on #190
So, I'm unsure as to whether Xcode version has any bearing on this, but I can absolutely confirm that upgrading CocoaPods resolved this LinkKit issue for me. Thank you so much for that suggestion, I spent all day yesterday trying to get this to work.

[2020-10-10 16:10] agamadev opened #219 "UI Problems with reCaptcha"
# The problem

reCaptcha UI is not adapted to mobile screens. It happens quite often but not always: sometimes the reCaptcha looks centered on the same mobile device, sometimes it does not.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.2-rc2                |
| ReactNative Version     | 0.63.2                |
| Occur

[2020-10-10 17:08] agamadev commented on #47
@zsweigart - I know you guys are working hard with the next update. We just made a different implementation for Android and it's now on the stores. It would be helpful if you guys can please let us know the exact date when this release is going to happen, so we can remove our implementation and have the same callback for iOS and Android beforehand; otherwise the Plaid integration for Android will

[2020-10-13 16:13] amytang0 commented on #47
Sorry for the delay, 6.0.2 should have the same payloads in `onSuccess` and `onExit`. For `onEvent`, Android is still returning a json object for event names, but is otherwise returning the same payload. We will flatten this object in the next release

[2020-10-13 19:09] agamadev commented on #47
Thanks @amytang0 - We are using the version 6.0.2-rc4 and can confirm that the response is still different. As mentioned, we made a different implementation (basically a parser) for Android.

[2020-10-14 03:13] amytang0 commented on #47
Hey would you mind sharing the differing results? Thanks!

On Tue, Oct 13, 2020, 12:09 PM AGAMA <notifications@github.com> wrote:

[2020-10-14 15:05] bjjeong opened #220 "onSuccess in iOS is missing mask in object but exists in metadata_json"
# The problem

On iOS, I am trying to get the account `mask` that is returned in the `onSuccess` callback but it always comes up as blank in the JS object although it exists in `metadata_json`. The `mask` is correctly filled in on Android.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.2                |
| ReactNative

[2020-10-15 01:52] mcgaryes commented on #190
I am also seeing this issue. But following the 1.x to 2.x migration steps the "Prepare for Distribution" is no longer needed due to the move to an .xcframework over a .framework.

[2020-10-15 13:21] proIT324 commented on #212
Thank you! @amytang0

[2020-10-15 16:06] afh commented on #187
Hello @skheirandish, thanks for using Plaid Link and reaching out.
With the latest version of Plaid Link SDK the custom Build Phase script is no longer necessary, since we switched to XCFramework for binary distribution, making the need to strip iOS Simulator symbols prior to distribution unnecessary.

Please revisit the [updated documentation](https://plaid.com/docs/link/ios/#add-run-script) and

[2020-10-15 22:33] skheirandish commented on #187
Hi @afh I did follow the guide but the problem still remains. Our React Native app `v.62.2` uses Autolinking and I followed the steps in here: https://plaid.com/docs/link/react-native/ios-setup/#ios-setup simply added the latest version of "react-native-plaid-link-sdk": "6.0.2" and on my pod file i added pod 'Plaid', '~> 2.0.3' made sure all old packages are removed and reinstalled for npm and pod

[2020-10-15 23:32] agamadev commented on #47
Hi @amytang0 - It seems that you guys are currently working on the output, two days ago the structure and issues were different:

- For Android, metadata_json did not exist, just medatada
- For iOS, metadata_json existed but not inside metadata, since this last one did not exist
- For iOS, when parsing metadata_json to a JSON object (it comes as a string), it did not work, but it worked for Androi

[2020-10-16 00:02] agamadev commented on #47
Hi @amytang0 - It seems that you guys are currently working on the output, two days ago the structure and issues were different:

- For Android, metadata_json did not exist, just medatada
- For iOS, metadata_json existed but not inside metadata, since this last one did not exist
- For iOS, when parsing metadata_json to a JSON object (it comes as a string), it did not work, but it worked for Androi

[2020-10-16 00:07] agamadev commented on #219
Hi @JeroenMols - just to mention that it also happens on Android, not sure if it should also have the android label 😬

[2020-10-16 12:55] afh commented on #187
Hi @skheirandish,
unfortunately I have not been able to reproduce the issue that you are observing with our internal test application, maybe you can help me understand your setup better.

Can you double check that LinkKit 2.x is actually being used, e.g. by running the following commands in your project's top-level directory:
[code]

FYI: I took the liberty edit your comment and redact the applica

[2020-10-16 14:50] nchase opened #222 "Events and/or Event names missing in onEvent callback"
# The problem

Events and/or Event names are missing after registering the `onEvent` callback. After upgrading from 4.x.x to 6.0.2 we aren't getting `OPEN` or `EXIT` events, etc.

The events that we _are_ getting do not have event names. See example below in Logs section.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0

[2020-10-16 15:21] nchase commented on #222
I upgraded to the final 6.0.2 release and it looks like this is still happening, FWIW.

[2020-10-16 16:42] skheirandish commented on #187
Thank you!! Yeah, the output I get is as exactly the same as yours
[code]

[2020-10-16 17:26] amytang0 commented on #222
Hi, can I check what version of iOS Link-kit is in your Podfile? We recommend using iOS Link-kit 2.0.3

[2020-10-16 17:27] prometheas opened #223 "Console error messages for each key stroke: "currentlyFocusedField is deprecated and will be removed in a future release. Use currentlyFocusedInput""
# The problem

The console displays the following ERROR level message, with each key stroke event when typing into both the username and password fields of bank login forms:

[code]

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.2                |
| ReactNative Version     | 0.63.2                |
| Occurs on Android

[2020-10-16 17:34] nchase commented on #222
hi @amytang0 – I observed this issue with iOS Link-kit 2.0.1 and 2.0.3. Can you reproduce?

[2020-10-16 17:53] amytang0 commented on #222
Unfortunately I can't seem to reproduce this on our sample app.
This is the open event I see:
`{"event": "OPEN", "metadata": {"error_code": "", "error_message": "", "error_type": "", "exit_status": "", "institution_id": "", "institution_name": "", "institution_search_query": "", "link_session_id": "25c9148a-b889-4ddf-a2f8-8eca065a78c1", "metadata_json": "", "mfa_type": "", "request_id": "", "times

[2020-10-16 18:50] nchase commented on #222
our open event is very similar to yours, with the exception that the event name is just an empty string:

[code]

[2020-10-16 19:14] bpander opened #224 "UI Problems after solving reCaptcha"
# The problem

After triggering the reCaptcha flow and verifying you're not a robot, there are visual issues and missing information on the following screen where you select your account.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 5.0.1                |
| ReactNative Version     | 0.61.5                |
| Occurs on A

[2020-10-16 19:38] nchase commented on #222
When we log the `eventName.value` in `RNLinksdk.m`, the value that gets returned is `-10`. Any idea what that means?

[2020-10-16 19:55] vafada commented on #222
My guess `PLKEventNameValueNone` based on this switch statement:

https://github.com/plaid/react-native-plaid-link-sdk/blob/4122d3661915e2bf4740410e60776eb2ea2a2c8a/ios/RNLinksdk.m#L739-L740

question is.. why the `event.value` has `PLKEventNameValueNone` ?

[2020-10-16 22:52] devshorts opened #225 "createWithLinkPublicKeyConfiguration returns null"
# The problem

I have recently upgraded to plaid link `6.0.2` and am using the legacy public key configuration (until we can migrate over).  I am getting an error when trying to open plaid (using `openLink`) which says this:

[code]

Which I've managed to debug into and see that the `self.linkHandler` is not getting assigned even after calling into it

![image](https://user-images.githubuserconten

[2020-10-19 14:23] t4dek commented on #132
@jayhxmo have you fixed this one somehow?

[2020-10-20 13:49] nchase commented on #222
@amytang0 FYI this seems to work fine on Android with the same version – hopefully that's useful information

[2020-10-20 18:40] devshorts commented on #225
For what its worth I did the v2 link migration and this error went away. That said, it doesn't seem that the legacy public key flow works with the 2.x Plaid pod

[2020-10-20 21:47] bpander opened #227 "iOS - When Plaid closes, it closes all other modals and leaves app in unresponsive state"
# The problem
If a react-native Modal is open when Plaid exits (e.g. Plaid is launched from a Modal), Plaid closes that modal, and the app is no longer responsive.

# Environment
|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.2                |
| ReactNative Version     | 0.63.3 (also seen in 61.5)                |
| Occurs on Androi

[2020-10-21 13:44] nchase commented on #222
@amytang0 some more information after trying a few different versions

in 5.0.1, the payload is fine, the event name is as expected. it looks like this:

[code]

In 6.0.0 the payload includes `"event": null` instead of `"event": ""` (the latter is how it appears in 6.0.2).

[2020-10-21 17:36] nchase commented on #222
I can reproduce the `"event": null`  situation mentioned above in 6.0.1 in a minimal example project. Was that already a known issue with version 6.0.1?

[2020-10-21 20:27] djMax opened #228 "Is it possible to launch the plaid flow on render?"
Our use case would be better served by not needing a button wrapped in the plaid control launch the flow. Is this possible? To be specific, we have a useEffect that will go fetch the link token, and then if they click our button BEFORE that's done, we'll just make a spinner and then render the PlaidLink component conditionally based on the completion of the call. But I can't see any way to do that

[2020-10-21 21:24] djMax commented on #228
I think "openLink" is meant to do this, but it does not take the link token, it only takes the public key...

[2020-10-21 22:45] nchase commented on #222
We started with 6.0.2-rc3, which took a dependency on iOS Link-kit 2.0.3 – this no longer happens for happen for us in 6.0.2 final with iOS Link-kit 2.0.5.

Was that just a bad combination of dependencies?

[2020-10-22 00:04] amytang0 commented on #222
Hey thanks for taking the time to debug this so thoroughly. Speaking for
our iOS team, this may have been a bad combo of SDK's, and we'll document
that as soon as we're sure.

Sounds like the issue was resolved?

Thanks!
Amy

On Wed, Oct 21, 2020 at 3:45 PM Noah Chase <notifications@github.com> wrote:

[2020-10-23 18:08] skheirandish commented on #187
Ok so I updated my Xcode to 11.7 and the problem disappeared.

[2020-10-26 16:17] nchase commented on #222
Yeah, the issue is resolved @amytang0 – will close.

[2020-10-26 16:17] #222 closed

[2020-10-26 17:28] Maftalion commented on #228
@djMax `openLink` takes the token and other values you pass via props with the component implementation
[code]

[2020-10-26 17:41] djMax commented on #228
Thx. I realize now that I had to roll my own Typescript defs, and hadn't included these other props.

[2020-10-26 17:41] #228 closed

[2020-10-26 22:52] ljharb commented on #67
The TS type for `oauthRedirectUri` should be `string` - the type you included there is the type for its propType validator.

[2020-10-29 23:22] jack-fin opened #239 "Build Issue with 6.0.2 in iOS"
# The problem

I am working to update our v5 version of Plaid to the v6.0.2 release. This worked well under Andriod but is causing an XCode a build failure.

See below for details on my env, running >.60 so my pods should auto link, and I have installed the latest Pods from this Plaid upgrade.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React

[2020-10-29 23:29] amytang0 commented on #239
Hey, what version of Plaid is in your Podfile?
Could you try `pod 'Plaid', '~> 2.0.5'`?

[2020-10-30 01:57] jack-fin commented on #239
Hello! I do not actually have Plaid in the Podfile itself, I do see `Plaid (2.0.5)` within the Podfile.lock, however.

I tried adding `pod 'Plaid', '~> 2.0.5'` to my Podfile as well, just in case but am seeing the same issue in my build.

[2020-10-30 19:34] jack-fin commented on #239
I do see this change was made to my project file, possibly by the auto linking? Seems like it could be related?
<img width="1488" alt="Screen Shot 2020-10-30 at 2 34 20 PM" src="https://user-images.githubusercontent.com/5135602/97749413-05993580-1abd-11eb-86c6-6ed03995619a.png">

[2020-11-02 10:22] satish24787 commented on #190
@ealmiladi - I tried embedding the .xcframework that is contained within the pod. However, I am still finding the LinkKit/LinkKit.h file not found issue.

[2020-11-02 16:37] afh commented on #239
Thank you for using Plaid Link, @jack-fin.

The custom build script phase is no longer necessary with LinkKit 2.x, please see the [1.x to 2.x Migration Guide](https://plaid.com/docs/link/ios/ios-v2-migration/#remove-the-custom-prepare-for-distribution-build-phase) for details.

Note that the majority of the migration guide covers manual or cocoapods integrations. For react-native integration most

[2020-11-02 18:06] jack-fin commented on #47
@agamadev Are you still seeing metadata_json in both responses? I am seeing different responses between Android and iOS as well, but different from yours:
iOS:
[code]

Android:
[code]

[2020-11-02 18:14] jack-fin commented on #239
@afh Thank you! I'm sorry I missed that migration guide, this resolved my issue. I simply needed to remove the custom build script phase.

[2020-11-02 19:08] pladaub commented on #225
Hi, thanks for filing this issue. For legacy public key configurations, the `language` prop is required to be set to a non-empty string value. Upon review, our validation code isn't outputting the correct error message here. This will be addressed by a future release of the underlying iOS SDK.

[2020-11-02 19:38] #239 closed

[2020-11-03 21:50] djMax commented on #4
I'm having this problem in *detox* builds but not in regular builds from xcode or the react-native CLI.

[2020-11-04 17:04] amytang0 commented on #220
Hey, this should be fixed with if you update your LinkKit pod to `2.0.5`. Please re-open if this still reproes!

[2020-11-04 17:04] #220 closed

[2020-11-04 17:05] #212 closed

[2020-11-04 17:05] amytang0 commented on #201
Closing due to inactivity, seems like switching the `client_id` worked

[2020-11-04 17:05] #201 closed

[2020-11-04 17:06] amytang0 commented on #139
Metadata should be returned in 6.0.3. Please re-open if metadata is not returned

[2020-11-04 17:06] #139 closed

[2020-11-05 01:58] bjjeong commented on #220
@amytang0 Hi, unfortunately I'm still getting the empty mask in LinkKit `2.0.5`. I'm on `react-native-plaid-link-sdk@^6.0.3-rc2` as well.

[2020-11-06 19:16] ealmiladi commented on #190
Have you tried upgrading CocoaPods? Make sure you're on the latest version of Xcode as well.

[2020-11-09 10:24] satish24787 commented on #190
We have tried with the latest version as mentioned below,

Xcode Version: 12.1
react-native: 0.62.0

Followed the auto-linking steps as mentioned at https://plaid.com/docs/link/react-native/ios-setup/

pod 'Plaid', '~> 2.0.1'
(cd ios && pod install)

Its still throwing the error "LinkKit/LinkKit.h file not found".

[2020-11-11 17:00] MariaTolstov opened #254 "Account ids are missing on the account objects after successfully linking on IOS"
# The problem

After successfully linking a card, the data from onSuccess callback is missing the account ids. When getting the same accounts using the api, the ids are there.
<img width="799" alt="Screen Shot 2020-11-11 at 18 01 28" src="https://user-images.githubusercontent.com/2087786/98840932-1a2be500-2450-11eb-979d-c8a07beafe3e.png">

# Environment

|                        |  |
| -----------

[2020-11-13 04:07] cloudmanic commented on #254
Totally having this issue too. Any help would be amazing!

[2020-11-13 17:14] siebevd opened #257 "Doesn't pick up the deeplink change after returning from third party banking app"
# The problem

When using the European flow with the extra authentication, the platform doesn't pick up when the app is opened again through the redirect link and stays stuck on the connecting to [BANK NAME].

We've managed to make it work by exporting & calling the `useDeepLinkRedirector` function within the package, which adds in the necessary React Native listeners. would it be possible to get

[2020-11-13 17:49] amytang0 commented on #254
Hi, can you update to 6.0.3 and see if this repros still? Thanks!

[2020-11-14 01:33] caiokf commented on #254
We are having the same issue:

Using

[code]

We had our plaid integration working until a few days ago. Without any changes to our codebase or installed modules, Plaid integration stopped working. We traced the issue to the data from a `onSuccess` callback no longer returning account ids and other account metadata once an account has successfully being linked. This problem was happening on androi

[2020-11-14 16:16] ealmiladi commented on #190
Again, upgrading CocoaPods resolved the issue for me. What version of CocoaPods are you on?

[2020-11-15 19:25] Bhavik-P opened #260 "Unable to redirect user to a specific institution when opening Plaid Link"
# The problem

We

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          |  6.0.3               |
| ReactNative Version     |  0.61.5                |
| Occurs on Android             |  yes                |
| Android OS Version                    |  All                |
| Android Devices/Emulators    |  All                |
| Occur

[2020-11-16 00:06] petecroaker commented on #254
We've got the same issue, but it has been fine up until recently. Android still works fine, but with iOS, the account objects are missing ids.

We're using v4.01 with Plaid pod v1.1.35

We're not keen to update to v6 as it seems that this requires updating the minimum iOS version from 10 to 11.

[2020-11-16 07:14] teeolendo opened #261 "Xcode build error - dylib failure"
I'm using the RNPLS version 6.0.3, and when I run the application on my device, I get a persistent build error. It builds fine on the simulator but it doesn't build when I run it on my device or when I set it to a generic ios device.

`ld: building for iOS, but linking in dylib file (/Users/********/Library/Developer/Xcode/DerivedData/projectname-fwcxydociljoyzfueniqbwswsbyy/Build/Products/Release

[2020-11-16 07:16] AnkurGahtori2012 commented on #254
![Screenshot 2020-11-16 at 12 36 09 PM](https://user-images.githubusercontent.com/60691396/99222428-90419a80-2808-11eb-8c26-093a8ea9e42b.png)
we are using react-native-plaid-link-sdk version 3.2.0 facing same issue with ios

[2020-11-16 09:09] dwh2427 commented on #254
I have informed Plaid. I believe it was their oversight that they fixed this in iOS link and updated status.plaid.com without fixing the same for react native. Suggest you contact your account manager if you are having this issue as they can push an immediate fix for your account

[2020-11-16 09:39] MariaTolstov commented on #254
Updating to react-native-plaid-link-sdk 6.0.3 fixed the issue for us.

[2020-11-16 10:08] AnkurGahtori2012 commented on #254
@MariaTolstov Thanks for the update, but I am using react-native 0.60, react-native-plaid-link-sdk 6.0.3 is compatible with react-native ^0.61.3 at this moment I can't update the react-native version.

[2020-11-16 16:42] cohen72 commented on #261
my co-worker @elingersin1 and I spent the day digging and discovered that the by switching the order of the entries within the `./Pods/Plaid/LinkKit.xcframework/Info.plist`, so that the entry for `ios-arm64` comes **before** the entry for `ios-arm64_x86_64-simulator`.

Then re-run `pod install` and it should correctly generate the `Pods-<Project>-artifacts.sh` file which is being run during the `[

[2020-11-16 17:32] siebevd commented on #257
Looks like the export has been added in the `6.0.3` release 🙌

[2020-11-16 20:57] jeremyricketts commented on #254
We consider this an urgently needed fix as we have an iOS app with wide distribution that is currently broken because of this bug.

[2020-11-17 03:04] juddblair commented on #254
Hi y'all, super sorry for the problems you're having here - the root cause here is related to a bug in the < 1.3.38 iOS SDK that surfaced when we rolled out our redesign of Link late last week. A couple things:

1. Please shoot me an email at jblair@plaid.com and we can put you back on our old designs and mitigate the issue.
2. Upgrading to 1.3.38 on the iOS side will fix the issue, at which point

[2020-11-17 16:17] zsweigart commented on #260
Hi @Bhavik-P
It looks like you need to pass the institution id on the server side when creating your link token.  Also please check with your account manager that your account is enabled for opening an institution directly.

[2020-11-17 18:51] bpander opened #264 "When completing the Same Day Micro-Deposit flow, the account's verification_status is missing"
# The problem

When completing the Same Day Micro-Deposit flow, in the onSuccess payload, the account's verification_status is not present in android and is an empty string in iOS, but it should be manually_verified.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.3                |
| ReactNative Version     | 0.61.5

[2020-11-17 19:47] #257 closed

[2020-11-17 19:55] sebastianpaz commented on #4
@jake-long-game did that work for you?

[2020-11-18 00:02] petecroaker commented on #254
Thanks @juddblair...updating to v4.01 with Plaid pod v1.1.38 fixed the issue!

[2020-11-18 18:26] bpander commented on #227
If it helps at all, it looks like the issue with this sdk is there's two "dismiss" calls. The linkHandler dismisses the plaid modal, then the onExit/onSuccess callback (in ios/RNLinksdk.m) calls dismissLinkViewController, which dismisses whatever non-plaid modal is open.

I'm not an iOS developer, but this seems to do the trick for me:

[code]

@afh @wkiefer @pladaub Would you like me to create a

[2020-11-18 20:55] zsweigart commented on #48
Hi @SandroMachado  and @7patricia can you try with version 6.0.3?

[2020-11-18 20:57] zsweigart commented on #110
Hi @alexandrasmith00 can you check with version 6.0.3?

[2020-11-18 21:02] pladaub commented on #110
Hey @alexandrasmith00 we export imperative APIs that can make functional components work with the SDK. Are there specific hooks we don't have that would make the SDK better suited for your use case?

[2020-11-18 21:17] amytang0 commented on #264
Hey, this is a KP on iOS. Can you show an example payload on Android?

Thank you!

[2020-11-18 21:42] bpander commented on #264
Sure thing. When I run my sample code in android, this is the payload I get in the onSuccess callback after entering the microdeposit amounts. In android, verification_status is not present at all.

<img width="778" alt="Screen Shot 2020-11-18 at 4 37 41 PM" src="https://user-images.githubusercontent.com/1141573/99591282-8fea0080-29bc-11eb-82aa-c8a486664b1a.png">

[2020-11-19 08:15] AnkurGahtori2012 commented on #254
Thanks @juddblair it worked for me.
IOS 1.1.38
RN SDK 5.0.1
But now in case of registering an account using microDeposit method, I am not getting field verification_status for the registered bank.
With old environment I was getting "verification_status" with account data on onSuccess callback.

[2020-11-19 13:02] #254 closed

[2020-11-19 13:03] #187 closed

[2020-11-19 15:03] satish24787 commented on #190
Thank you @ealmiladi. It worked with the latest version of CocoaPods. However, when I am opening the PlaidLink in iOS, getting the below error,

Unbalanced calls to begin/end appearance transitions for <LinkKit.InProcessWebviewFallbackController: 0x7ffd32c2e7a0>.

We have configured redirect_uri on the portal and added while creating link-token.

May i know have you come across this issue anytime

[2020-11-19 22:56] cloudmanic commented on #254
So how do you upgrade to Plaid pod v1.1.38 ?

[2020-11-20 05:45] AnkurGahtori2012 commented on #264
I am also not getting "### verification_status" field in IOS.
[
![Screenshot 2020-11-19 at 1 06 30 PM](https://user-images.githubusercontent.com/60691396/99762461-92646b80-2b1e-11eb-8817-9be76c6d75bd.png)
](url)
my Current Environment
**React native 60.5
React Native Plaid Sdk 5.0.1
Plaid IOS SDK 1.1.38
Sandbox environment**

I recently shifted to this environment after facing issue #254 that is r

[2020-11-20 06:55] ankurgahtori commented on #264
![Screenshot from 2020-11-20 12-23-16](https://user-images.githubusercontent.com/37188059/99768768-5d124a80-2b2b-11eb-9c11-431fd989a24d.png)
But on android I am getting ### verification_status

[2020-11-22 18:14] nishas6932 opened #272 "ExitHandler: In iOS with plaid ios sdk, no exit handler is getting called in the latest version i.e. 2.0.8 when any error is expected example: invalid credentials, despite of assigning an exit handler to the linkConfiguration."
# The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to the Plaid Link
React Native SDK). Tell us what you were trying to do and what happened instead.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | e.g. 6.0.0                |
| ReactNative Version     | e.g. 0.61.3

[2020-11-23 04:41] #272 closed

[2020-11-23 17:17] osikes commented on #261
Running into same issue. With a  m1 MacBook Pro.

[2020-11-24 13:15] afh commented on #264
Hi @bpander, which version of the [`Plaid` CocoaPod](https://cocoapods.org/pods/Plaid) is used in your project?
[code]

[2020-11-24 14:28] bpander commented on #264
@afh Yeah 2.0.6. I just retested against the latest ios sdk version (2.0.8), and the issue still happens in that version too.

[2020-11-25 15:49] SandroMachado commented on #48
Tried with the latest version and the issue persists.

[2020-11-25 18:13] afh commented on #264
Thanks for the update, @bpander, I'll continue with the investigation.

[2020-11-27 12:53] drekembe commented on #264
Hi, just my 2 cents: I'm on react-native-plaid-link-sdk 4.0.1 and iOS Plaid SDK 1.3.3, and am not getting the verification_status field at all in the accounts array when onSuccess is called. Thanks for looking into it

[2020-11-28 19:11] remlostime commented on #190
![image](https://user-images.githubusercontent.com/3702498/100524133-6d997500-316a-11eb-9be9-49d2145271bc.png)

@ealmiladi I have the latest pod and Xcode. I also `import LinkKit` in the file, but still get this error. Any thoughts?

[2020-12-02 16:59] walterholohan opened #279 "linkCustomizationName not working with latest version"
# The problem

I just upgraded this library to version 6.0.4 and everything worked ok except for `linkCustomizationName` when using openLink on iOS. We use multiple customization configs to display different screens per config.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.4                |
| ReactNative Version

[2020-12-03 18:49] spsaucier-bakkt opened #281 "Fatal Exception: kotlin.UninitializedPropertyAccessException: lateinit property INSTANCE has not been initialized at com.plaid.link.internal.BasePlaid$Companion.getINSTANCE"
# The problem

Android app crash during Plaid linking:
[code]

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.3               |
| ReactNative Version     | 0.63.3                |
| Occurs on Android             | yes                |
| Android OS Version                    | 8-11, at least                |
| Android D

[2020-12-04 12:23] Zhuxingzhi01 commented on #261
怎么解决呢

[2020-12-07 11:12] JeroenMols commented on #281
Hi @spsaucier-bakkt,

Thanks for reporting!

This is an issue with the native Android SDK that we're also tracking in https://github.com/plaid/plaid-link-android/issues/105. We've already made an improvement that solves most of these occurrences in `RN 6.0.4` (Android SDK `3.2.0`) and are in the process of fixing another root cause (release to be announced).

May I suggest you to upgrade to `RN 6.

[2020-12-07 19:52] pladaub commented on #279
What version did you update to 6.0.4 from? Curious where you last saw this working

[2020-12-08 19:09] spsaucier-bakkt commented on #281
I'll update to `6.0.4` and plan to update to the next release, thanks.

[2020-12-09 04:10] Liamandrew commented on #261
Very frustrating issue, especially when there's not much support on how to fix it. Eventually I upgraded to the latest cocoapods version (1.10.0) & did `pod install` and this fixed the issue for me without needing to modify the `Info.plist` like above.

[2020-12-09 10:30] lukaskai commented on #261
Yes, upgrading cocoapods version to 1.10.0 helped.

[2020-12-09 15:15] nandorojo commented on #99
If anyone managed to get a webview to work with Plaid link since they got rid of the `key` field, it would be awesome to see a code sample. The existing Expo + webview examples are all outdated and don't use the `token`.

[2020-12-10 04:20] JBaczuk commented on #99
@nandorojo I'm trying to do the same, but I'm not able to subscribe to the events in order to receive the public_token. It seems that the events are not accessible, even if you try to inject javascript. @zsweigart is there any way to do that? We are kind of stuck in Expo without an SDK or some type of documentation about which javascript we should inject in order to subscribe to the events.

[2020-12-10 04:34] nandorojo commented on #99
I think I may have made some progress, are you sure you don't get any `window.postMessage` if you inject the script? I'll see if I can get something to work. You'll have to use the new token implementation in a webview.

[2020-12-10 04:58] JBaczuk commented on #99
I have tried this, and I get nothing:

[code]

I've also tried overwriting all of these functions:
* `window.location.replace`
* `window.location.assign`
* `window.navigate`

[2020-12-10 08:54] Sterlingryan opened #289 "'Day of Month' change request"
# The problem

I have created a standing order with **/payment_initiation/payment/create** and put -1 for **interval_execution_date** as per the API documentation for the standing order to execute the last day of the month. When opening link, in the payment details page, the value for Day of Month is -1, is it possible to change '-1' to something more user friendly ? something along the lines of '

[2020-12-12 08:13] afh commented on #264
Thank you for your patience @bpander. We have identified the cause of the issue and are working on a fix. I'll update this issue once the fix is available, probably some time next week ([cw 51](http://www.whatweekisit.org)).

[2020-12-13 15:08] Amit-Singh-Phartiyal commented on #4
I fixed the issue by just updating the **cocoapods version**. I update the version from 1.8.0 to 1.10.0

**Command to update.**
sudo gem install cocoapods --pre

[2020-12-14 15:25] spsaucier-bakkt commented on #281
@JeroenMols the update to `6.0.4` hasn't relieved any of the crashes that we can tell, so looking forward to the upcoming fix.

[2020-12-14 17:09] DjordjePetrovic opened #290 "iOS tiggers onExit callback (with valid linked response) instead of onSuccess, Android works fine"
# The problem

In the Lates version, I noticed the issue where on the Android, upon Success Linking I'll get a callback on the onSuccess method, but on the iOS onExit with onSuccess data.

Here is the response that's returned on the onExit method:

[code]

**Problem Comes from this method:**

https://github.com/plaid/react-native-plaid-link-sdk/blob/master/PlaidLink.tsx#L67

As you can see on the

[2020-12-14 21:27] spsaucier-bakkt commented on #290
I, too, am seeing this on `7.0.0-rc1`.

[2020-12-15 07:55] JeroenMols commented on #281
Hi @spsaucier-bakkt ,

We've just released react native SDK 7.0.0-rc1 which includes the fix described above.
Notice how it's not yet a final release. This is because we've completely revamped our API and added typescript support.

If possible, please give our new SDK a go and we would be very grateful for any feedback!

[2020-12-15 15:22] spsaucier-bakkt commented on #281
Thanks @JeroenMols, that release is looking pretty good, especially the Typescript support. However, I am running into https://github.com/plaid/react-native-plaid-link-sdk/issues/290 and have to work around it.

[2020-12-15 17:58] afh commented on #264
We are rolling out a fix and it should be available in a few hours ([21:00 UTC](https://everytimezone.com/?t=5fd7fc80,a8c)).
@bpander, can you test that Link behaves the way you'd expect and close the issue if it does?

[2020-12-15 22:06] amytang0 commented on #289
Hey, thanks for the flag! I've passed this issue onto our payment initiation team and will let you know when that's fixed. No new SDK changes should be necessary

[2020-12-16 10:03] afh commented on #261
Thanks, for the report @Liamandrew, @lukaskai.

@teeolendo can you confirm that updating CocoaPods 1.10.0 resolves the issue for you too and close this issue?

[2020-12-17 13:17] JeroenMols commented on #67
We've just released a preview of our latest SDK `7.0.0-rc1` that includes typescript support.
Please give that a go and we would be happy to receive any feedback!

[2020-12-17 13:17] #67 closed

[2020-12-17 15:47] afh commented on #290
A fix for this issue will be available with the next release candidate (for details see #294).

[2020-12-17 18:04] BrandonCao commented on #227
I'm getting this error as well!

[2020-12-17 23:19] emi1337 opened #295 "After Generating Link Token, Invalid hook Call at <PlaidLink /> (rerenders page infinitely)"
Hey folks, I'm having trouble getting plaid set up. Apologies if I'm doing something wrong, but I can't see it.

I'm able to successfully generate a link token, and the RN renders the correct amount of times. As soon as I add the RN component <PlaidLink>, I get this issue, and the screen starts rerendering over and over (such that the isLoading useState that was already set to false, gets reset to

[2020-12-17 23:31] BrandonCao commented on #295
Mine is able to generate except the app just becomes unresponsive

[2020-12-18 17:24] bpander commented on #264
@afh Looks good. I retested with the latest android and ios sdks (3.2.2 and 2.0.9 respectively), and verification_status was present and correct for both.
`verification_status: { json: "manually_verified" } // android`
`verification_status: "manually_verified" // ios`

Closing this as fixed. Thank you!

[2020-12-18 17:24] #264 closed

[2020-12-18 21:01] spsaucier-bakkt commented on #290
The `7.0.0-rc2` version has fixed my issue 👍

[2020-12-18 23:40] JBaczuk commented on #99
@Momics @nandorojo I got it working, here is how:

[code]

Inside the `handleNavigationStateChange` function, if it is a `plaidlink://` url, I return false (so it won't try to navigate there).

I published a component which is an attempt to have a similar api as this one (`react-native-plaid-link-sdk`), probably needs a few more things added, but I hope it's helpful:

https://www.npmjs.com/package

[2020-12-21 09:23] JeroenMols commented on #260
Hi @Bhavik-P ,

We haven't heard back from you in a while so we're assuming you've been able to sort out this issue already.
Please don't hesitate to get in touch should that not be the case.

Jeroen

[2020-12-21 09:23] #260 closed

[2020-12-21 09:30] JeroenMols commented on #192
Thanks for bringing this to our attention!

We've updated the peer dependency of RN in our latest RN SDK version `7.0.0-rc2` and higher.
https://github.com/plaid/react-native-plaid-link-sdk/blob/3ad36fedb79cab6ffaaf89cbc720b4485c95bf7e/package.json#L54

[2020-12-21 09:30] #192 closed

[2020-12-21 09:31] JeroenMols commented on #290
Thank you for letting us know!

[2020-12-21 09:31] #290 closed

[2020-12-21 09:35] JeroenMols commented on #281
Hi @spsaucier-bakkt,

Now that https://github.com/plaid/react-native-plaid-link-sdk/issues/290 is resolved, please upgrade to `7.0.0-rc2` which should resolve the crash above.

We fully appreciate that it may take you some time to verify whether this crash still occurs, but we would be very grateful to hear back from you in a few weeks with your findings. So I'll be keeping this issue open for now

[2020-12-21 09:38] JeroenMols commented on #98
Hi @k11kirky and @eduardborges,

It has been a while since we heard from you and our SDK has improved quite a bit over the last few months.
Are you still seeing this issue on the latest version of our SDK?

Thank you and have a great end of the year,
Jeroen

[2020-12-21 10:39] JeroenMols commented on #295
I've looked into your issue, but am currently unable to reproduce.

Wondering whether there is a react native version mismatch. Could you please try to upgrade your react native version to `0.63.3`? And see if the problem persists?
https://github.com/plaid/react-native-plaid-link-sdk/blob/master/package.json#L48

[2020-12-21 10:43] JeroenMols commented on #224
Hi @bpander,

We've just rolled out a new design for Link and have made significant improvements to our RN SDK.
Can you try upgrading to `7.0.0-rc2` and see if the issue still persists there?

Note that the 7.0.x upgrade is quite a significant one, should that be an obstacle at the moment you can also test on the latest `6.0.4` version. Instructions to upgrade can be found in [our readme](https://

[2020-12-21 10:50] JeroenMols commented on #102
This is a great find! Sorry for not following up on this before.

Since filing this issue we've made many changes under the hood:

1. v2 LinkKit (iOS SDK)
1. redesigned all Link screens
1. update react native SDK to support typescript

Especially the first change makes the issue you reported obsolete as the search & select screen has been re-implemented. Please don't hesitate to report a new issue

[2020-12-21 10:50] #102 closed

[2020-12-21 10:55] JeroenMols commented on #116
Thank you for reporting this issue.

It's been quite a while since we last heard back from you and in the mean while we've made many improvements to our RN SDK: new LinkKit iOS SDK, redesigned the Link UI flow, added typescript support,... Therefore I suggest to close this issue now.

Please give our latest SDK `7.0.0-rc1` a try. We welcome any feedback or issues!

[2020-12-21 10:55] #116 closed

[2020-12-21 13:28] grantackerman1 commented on #295
I'm having the same issue and am using react-native version 0.63.4, react-native-plaid-link-sdk version 7.0.0-rc2, and react version 17.0.1

[2020-12-21 15:18] spsaucier-bakkt commented on #281
@JeroenMols It looks like upgrading has decreased the incidents of this error by over 90%. I'll let you know if it persists or if the remainder are being incorrectly reported.

[2020-12-21 15:19] #281 closed

[2020-12-21 17:23] BrandonCao commented on #295
@JeroenMols I was able to get it to work. The only time it became unresponsive was when I wasn't running the app with a remote debugger.

[2020-12-21 23:36] SravanthiGujjula commented on #295
I'm having the same issue. I am using react version 16.11.0, react-native version 0.63.4 and react-native-plaid-link-sdk version 7.0.0-rc2

[2020-12-22 10:28] drekembe opened #296 "Building for android on 4.0.1: class file for androidx.drawerlayout.widget.DrawerLayout not found"
# Background

We have a legacy mobile app that was previously running react native 0.59. It integrated Plaid via webview. RN 0.59.x now can't be deployed on the app store anymore, so we had to upgrade it to 0.60.6. I wanted to upgrade RN further, but due to other dependencies and decisions in the previous code, I was not able to.

We decided to use react-native-plaid-link-sdk to implement Plaid pr

[2020-12-22 11:43] JeroenMols commented on #295
@BrandonCao That's great news! Do you happen to know what changes you made that resolved this?

That may help me reproduce and hopefully fix/avoid this issue in the future. Thank you!

[2020-12-22 12:53] JeroenMols commented on #296
Hi @drekembe,

This isn't an issue with our SDK as we don't use `DrawerLayout`, so I think this might be something that react native implicitly relies on.

You can provide a version of `DrawerLayout` by adding the following to the `build.gradle file` in your `android/app` folder:

[code]

And then solve the `duplicate class found ....` issues, most likely by [migrating your project fully to Androi

[2020-12-22 14:31] drekembe commented on #296
Hey @JeroenMols, thanks for the quick reply and the helpful advice. I'll try your steps and hopefully that solves the issues. Do you have any idea why this `DrawerLayout` error only appears once I add the Plaid dependencies to my `build.gradle` and not before?

[2020-12-22 16:25] JeroenMols commented on #296
If you run `.gradlew :app:dependencies` from the android directory in your sample, it will print out all your dependencies and their transitive dependencies. When I do that, I can't see anyone pulling in the `DrawerLayout` dependency.

Furthermore, the error message also points to the `MainActivity` which doesn't contain any of our code. Hence that got me thinking react native creates a DrawerLayo

[2020-12-23 11:29] drekembe commented on #296
Yeah, this issue is very weird. Thanks again for helping out.

There isn't any transitive dependency that's pulling in `DrawerLayout`. And even if there was, the reproduction repo is a fresh RN 0.60.6 install, which, from my understanding, is supposed to be set up to use AndroidX.

In the reproduction repo that I posted, the only non-dev dependencies in `package.json` are `react`, `react-native` a

[2020-12-24 23:16] cavalos0086 opened #297 "onPress is not getting intercepted by PlaidLink component"
# The problem
In the docs, it is mentioned that `PlaidLink wraps the view you provide as a child with a Pressable component and intercepts the onPress event.` However:
1. The onPress doesn't get trigger.
2. The type definition for `PlaidLink` doesn't have an onPress props

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 7.0

[2020-12-26 23:11] BrandonCao commented on #295
@JeroenMols I just tried it without remote debugger in the background haha. Although I was still able to continue development it's still inconvenient without being able to use debug mode. I'll keep messing around and if I find anything I'll post on here!

[2021-01-04 16:24] emi1337 commented on #295
Hey @JeroenMols, apologies for the delays. Am still able to repro on react-native 0.63.3. Thanks for looking into this!

[2021-01-04 18:53] bpander commented on #224
@JeroenMols No dice. I retested using `6.0.4` on android (plaid sdk 3.2.0) and ios (plaid sdk 2.0.9) as well as `7.0.0-rc2` on android (3.2.2) and ios (2.0.9). The data was still missing in every case (no last 4 digits or account balance).

[2021-01-05 09:21] JeroenMols commented on #224
Thanks for trying the upgrade! I had assumed that would also provide you with the Link redesign, but that appears not to be the case. I'm going to follow up with this internally and get back to you when I know more.

[2021-01-05 10:20] JeroenMols commented on #296
Sorry for the premature close, I'm reopening this issue as I'm no longer sure this isn't caused by the Plaid Link SDK.

I've done some investigation and I've noticed that the compilation error in your sample project goes away when upgrading to the Plaid RN SDK `6.0.4`. Can you please try that on your end?

Note that we've never officially tested the combination of RN SDK `0.60.6` and Plaid RN SDK

[2021-01-05 10:35] JeroenMols commented on #297
Hi @cavalos0086 ,

Thank you for reporting this issue.

Just to clarify: your custom `onPress` logic doesn't get pressed, but does our SDK open the Link flow for you?

We currently add an `onPress` listener under the hood to the component you provide to us (e.g. a `View` in your case), but we don't offer the ability to also add your own custom `OnPress` logic when the button get pressed.

Some ide

[2021-01-05 14:18] bpander commented on #224
If it helps, those new versions did have a different design from the screenshots posted, but the data was still missing.

[2021-01-05 23:13] SravanthiGujjula commented on #169
Hi,
I added the package name in Plaid dashboard. I am still getting this error in android.

 {"error": {"displayMessage": "", "errorCode": "INVALID_FIELD", "errorMessage": "Android package name must be configured in the developer dashboard. See https://plaid.com/docs/link/android/#register-your-app-id"}, "metadata": {}}

[2021-01-06 16:30] amytang0 commented on #169
Are you sure you are creating the link token with the correct client_id and secret? Many companies have multiple Plaid accounts and don't necessarily add the package name to the correct clients

[2021-01-06 22:32] Taylor123 opened #299 "Android Autolinking"
# The problem

Android auto linking does not currently work.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 7.0.0-rc2                |
| ReactNative Version     | 0.63.3                |
| Occurs on Android             | yes                |

## react-native config output
[code]

# Expected Result
android react-native con

[2021-01-07 12:05] drekembe opened #300 "App crashes on startup in Android when react-native-plaid-link-sdk is included"
# The problem

When I include and set up react-native-plaid-link-sdk in my react-native project, the app crashes on Android on startup as soon as it finishes loading data from the bundler.

I followed the instructions in the 6.0.4 readme to set it up. When I remove the `implementation project(':react-native-plaid-link-sdk')` line from the `app/build.gradle` file and the `packages.add(new PlaidPack

[2021-01-07 12:12] drekembe commented on #296
I tried upgrading to `6.0.4` and the build succeeded, but then I encountered a crash on app startup. I thought this might be a compatibility issue with our RN version, so I upgraded to RN `0.61.5` just to try (upgrading causes layout issues in our project, but that's not relevant here), and the crash still persisted. I created a separate issue for that.

Thanks for your continued help!

[2021-01-07 20:33] QO-Development opened #301 "Getting "require cycle" warning when creating a <PlaidLink> component with RN fetch API being used in both 'componentDidMount' and <PlaidLink> 'onSuccess' handler"
# The problem

I am attempting to do three things with my custom component:

1. Fetch a link token from /link/token/create using the Plaid API + my server in componentDidMount.
2. After the link token is fetched from the API, update the state in my custom component to include the token and render <PlaidLink> with the token included in the tokenConfig object.
3. After the user enters their banking

[2021-01-08 16:14] Crizzooo opened #302 "Problems linking with Chase - Plaid opens Chase app which opens a Universal Link in the browser instead"
# The problem

On iOS, when Chase app is installed, plaid link appears to open the Chase app. This is not the same flow with many other banks, such as BofA, that handle the whole flow in the plaid link window.

The issue is that after completing the Chase flow, the redirect URI is opened in the browser context. We see "plaid.cdn" in the top, which eventually follows the link and ends up on an app

[2021-01-08 16:19] Crizzooo commented on #302
This might actually be the same issue I just found here:

https://github.com/plaid/react-native-plaid-link-sdk/issues/257

Will try updating to 6.0.3 and report back

[2021-01-08 22:00] Crizzooo commented on #302
6.0.3 and implementing RCTLinkManager instead of our BranchManager, has fixed the problem.

**However**, the user's default browser must be Safari. If it's Chrome, our link is not redirecting back to the app, but to an app store.

Any ideas on the difference between how Safari and Chrome are treating these redirect URIs?

[2021-01-09 17:09] cavalos0086 commented on #297
Hello @JeroenMols
Thanks for the reply. Oh, I see, I miss understood the documentation.

Maybe you could help me with how to launch Link then. In the docs, it mentions that we need to pass the `publick_token` when opening the Link flow, so I am stuck here:

At the moment my flow is this:
- Click the + button, this will trigger a backend call to get the public Token. This will display the `add acco

[2021-01-11 07:26] pandasonic-collective commented on #99
Gonna give this a try tomorrow! Been waiting for something to work with expo for months now. Can't finish my app without it 😅

[2021-01-11 12:17] JeroenMols commented on #224
Thanks for clarifying that, I'm now able to reproduce your issue:

<img src="https://user-images.githubusercontent.com/6319637/104181302-cff2c000-540e-11eb-8bd6-d4efb14c0ee1.png" width="40%"> <img src="https://user-images.githubusercontent.com/6319637/104181306-d2551a00-540e-11eb-9d90-a4b080bd5d30.png" width="40%">

I'll update the internal issue we have for tracking this and will keep you posted

[2021-01-11 12:25] JeroenMols commented on #219
Thank you for filing this issue.

We are closing it on this project as this seems to be a Google recaptcha issue. Once google/recaptcha#334 is addressed, we will upgrade our backend and the fix should propagate to the React Native SDK. (so no upgrade should be necessary from your side)

Further we are also working on a more structural fix, but that will still take quite a bit of time to become ava

[2021-01-11 12:25] #219 closed

[2021-01-11 12:29] JeroenMols commented on #295
Hi @emi1337,

Sorry for the delay in getting back to you, but I was struggling to come up with a good next step to help you on this.

Some ideas would be:

- Can you try to disable the remote debugger in the background (like @BrandonCao )?
- Would it be possible for you to publish a basic sample project that reproduces this?
- Does this still happen on `7.0.0-rc2` (I assume it does, but good to ch

[2021-01-11 12:46] JeroenMols commented on #297
To programmatically open Plaid Link, do the following after receiving the token:

[code]

However, this won't set up the deeplink redirector hook, so you need to make sure to call that yourself as well:
https://github.com/plaid/react-native-plaid-link-sdk/blob/3ad36fedb79cab6ffaaf89cbc720b4485c95bf7e/PlaidLink.tsx#L103

(Note that this hook is required to make OAuth work on iOS, so it's very impor

[2021-01-11 13:05] JeroenMols commented on #299
Thank you for requesting this feature!

Looks interesting, we are going to look into adding support for this.

[2021-01-11 14:11] JeroenMols commented on #300
Thanks for reporting and for the sample project!

I'm getting the following error after running your sample:

[code]

Which I've solved by adding the following dependencies to `android/app/build.gradle`:

[code]

Can you please try if this solution also works for you?

[2021-01-11 19:01] asadkaleememumba opened #303 "[React-native-plaid-link-sdk] null account information is returned in sandbox environment for ios. Account_id is null."
react-native-plaid-link-sdk: 3.0.1
ios-sdk pod 'Plaid', '~> 1.1.36'
environment: 'sandbox'
react-native: .63.4
ios:13
xcode: 11.6

Issue: user_good and pass_good are used as credentials for sandbox environment, but still getting **account_id: null**.

Received response:
[code]

[2021-01-11 22:26] amytang0 commented on #303
Hi, 3.x is 3 major releases behind our latest stable release and thus is no longer receiving updates. Could you try updating to 6.0.4? Thanks!

[2021-01-12 02:45] cavalos0086 commented on #297
Gotcha!
Thanks! I'll give it a try.

[2021-01-12 02:45] #297 closed

[2021-01-12 07:55] ShaharyarMaroof commented on #190
I'm also getting the following error `/Pods/Plaid/LinkKit.framework/prepare_for_distribution.sh: No such file or directory`. I've enabled the check for `run for install builds only` but now the plaid link does not open in the simulator. Any ideas what the actual issue is?
[code]

[2021-01-13 06:49] asadkaleememumba commented on #303
@amytang0 it working on 6.0.4. Thanks

[2021-01-13 06:49] #303 closed

[2021-01-13 08:37] JeroenMols commented on #224
This appears to be a feature: when our backend considers a request risky it will strip some information such as account mask and balances. This isn't something you should be concerned about for production traffic.

[2021-01-13 08:37] #224 closed

[2021-01-13 16:09] JeroenMols commented on #299
We've managed to get autolinking work when we use `ReactPackage`, but not when we use `TurboReactPackage`.

Looking at the `react-native-community-cli` project it also seems like turbo packages aren't yet supported: https://github.com/react-native-community/cli/issues/356

So I wonder if both are mutually exclusive? 🤔

@Taylor123  do you happen to know if we can support both autolinking and Turbo

[2021-01-14 06:17] pandasonic-collective commented on #99
@JBaczuk Love this! You rock!
It's working perfectly. Can finally move my app forward. Thanks!

[2021-01-14 17:22] edo1493 opened #304 "[ios] Webhook not passed - 6.0.4"
# The problem

After upgrading to 6.0.4 (Plaid 2.0.9), Plaid is not hitting our webhook any longer.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | e.g. 6.0.4                |
| ReactNative Version     | e.g. 0.63.3                |
| Occurs on iOS     | e.g. yes                |
| iOS Version           | e.g. 11

[2021-01-14 21:54] Taylor123 commented on #299
I haven't personally used `TurboReactPackage`, so i'm not entirely sure. I'll be sure to post here if i gain any insight

[2021-01-15 04:32] mrosendin opened #305 "Element type is invalid"
# The problem

I'm trying to integrate the `PlaidLink` component in my app but this error is thrown:

[code]

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | 6.0.4                |
| ReactNative Version     | 0.63.4                |
| Occurs on Android             |  N/A               |
| Android OS Version

[2021-01-15 08:02] JeroenMols commented on #299
I've created a draft proposal that makes autolinking work (at the expense of app startup time). Please chime in with feedback and opinions.

[2021-01-15 09:27] edo1493 opened #307 "Handoff stopped firing on Android 5.0.1"
# The problem

After the Christmas break, we have noticed our HANDOFF event doesn't fire anymore on Android. We are noticing a similar behaviour in production where on some Android devices it doesn't fire at all.

# Environment

|                        |  |
| ------------------------| ---------- |
| Plaid Link React Native          | e.g. 5.0.1                |
| ReactNative Version     | e.g. 0.

[2021-01-15 13:21] drekembe commented on #300
I tried it out and it works! I had to migrate to the new link token flow, but we'd have to do that sooner or later anyway. It also works on RN 0.60.6, for what it's worth. Thanks for all your help.

One more thing, how did you get the Java stack trace? I tried getting crash logs by running the emulator with `emulator -no-snapshot-load -avd Nexus6 -logcat -v`, but never got anything resembling a Ja

[2021-01-15 15:03] JeroenMols commented on #300
Thanks for letting me know, I'm glad it's working for you.

To get the stacktrace, I ran the App on an emulator or device, opened Android studio and looked at the logcat tab.

[2021-01-15 15:03] #300 closed

[2021-01-15 15:04] JeroenMols commented on #296
Closing this as both this and the follow up ticket got resolved: https://github.com/plaid/react-native-plaid-link-sdk/issues/300

[2021-01-15 15:04] #296 closed

[2021-01-16 11:11] afahim12 commented on #99
Hi It looks l like the solution I have been looking for. However I still am on Expo 37 and i got some native module missing errors. Do you need sdk 40 for this expo-plaid-link to work? I am just a bit scared to upgrade to 40 right now and have other pieces in my code to break. Any way to show us the webview version handlenavigationstatechange function in the meantime as I never used webviews befor

[2021-01-16 22:18] mlyongardiner commented on #131
I would also love this!!

[2021-01-17 10:44] afahim12 commented on #99
Actually I got it to work by mostly copying your handleNavigationStateChange so thank you for that! However it doesnt seem that events are fired up beyond the original one (at least in sandbox mode in the ios simulator) and therefore I dont seem to be able to capture the connected event for instance. Any idea what could be happening behind the scene? Again the plaid link flow works but I dont seem

[2021-01-17 16:16] pandasonic-collective commented on #99
What are you getting back from the success console log?

[2021-01-18 08:51] JeroenMols commented on #295
We've just published a new release [7.0.0-rc3](https://www.npmjs.com/package/react-native-plaid-link-sdk/v/7.0.0-rc3) that changes the way we depend on React Native and React.

Can you please give that a try and see if it fixes this issue?

[2021-01-18 10:28] afahim12 commented on #99
I finally got it to work. typo in WebView=true vs. Webview=true in the link that was somehow showing the plaid link flow but not activating the navigation state. It's all working great for now in my sandbox testing! Thank you Adam and the others for the help!

[2021-01-18 16:23] ArtemMysik opened #310 "fix: Xcode 12 compatibility"
# The problem

Latest Xcode 12 fails to build while without a module to depend on React-Core directly hence this change is necessary for all native modules on iOS. For more details please check: [facebook/react-native#29633 (comment)](https://github.com/facebook/react-native/issues/29633#issuecomment-694187116)

# Steps to Reproduce

 Try to build a project with Xcode 12 to test iOS14, I got a ple

[2021-01-18 22:12] ArtemMysik commented on #310
Created a pr https://github.com/plaid/react-native-plaid-link-sdk/pull/311

[2021-01-18 22:12] #310 closed

[2021-01-19 16:43] gpbaculio commented on #295
@JeroenMols upgrading to  7.0.0-rc3 fixed it for me

[2021-01-19 19:06] JeroenMols commented on #295
Awesome, thanks for letting us know.

[2021-01-19 19:06] #295 closed

[2021-01-19 19:09] JeroenMols commented on #299
We've decided to stick to turbo modules for now as faster app initialization outweighs the easier integration (especially on the longer term)

In the future we may decide to revise this or to add auto linking support for Turbo Modules. (when that becomes possible)

[2021-01-19 19:09] #299 closed

[2021-01-19 19:25] mrosendin commented on #305
Workaround: upgraded to 7.0.0-rc3

[2021-01-20 00:34] Taylor123 commented on #299
@JeroenMols Makes sense, thanks for taking the time to look into this

[2021-01-20 09:05] agoldis commented on #261
Upgraded cocoapods to `1.10.1` - still facing the issue

[2021-01-20 14:41] afh commented on #261
@agoldis Can you check if the Xcode Build Setting `VALIDATE_WORKSPACE` is set to `NO`, set it accordingly if it isn't and retry, please?